:root {
     --tcolor-light-cream: rgb(241, 236, 232);
     --tcolor-cream: #d1bfae;
     --tcolor-lighter-green: #e7f88f;
     --tcolor-light-green: #CBE54E;
     --tcolor-dark-green: #94B447;
     --tcolor-darker-green: #5f6833;
     --tcolor-dark: #1a1a1a;
}

::selection,
::-moz-selection {
     color: var(--tcolor-dark);
     background: var(--tcolor-light-green);
}

.nav-pills .nav-link {
     background-color: var(--tcolor-light-cream);
     color: var(--tcolor-dark);
}

.nav-pills .nav-link:not(.active):hover {
     background-color: var(--tcolor-lighter-green);
     color: var(--tcolor-dark);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
     background-color: var(--tcolor-light-green);
     border-color: var(--tcolor-light-green);
     color: var(--tcolor-dark);
}

.btn-primary {
     background-color: var(--tcolor-light-green);
     border-color: var(--tcolor-light-green);
     color: var(--tcolor-dark);
}

.btn-primary.disabled, .btn-primary:disabled, fieldset:disabled .btn-primary {
    color: var(--tcolor-dark);
    pointer-events: none;
    background-color: var(--tcolor-light-green);
    border-color: var(--tcolor-light-green);
    opacity: var(--bs-btn-disabled-opacity);
}

a {
     color: var(--tcolor-light-green);
     transition: 0.15s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary.show, .btn-primary:first-child:active, :not(.btn-check)+.btn-primary:active {
     background-color: var(--tcolor-dark-green) !important;
     border-color: var(--tcolor-dark-green) !important;
     color: var(--tcolor-dark) !important;
}

a:hover,
a:active,
a:focus {
     color: var(--tcolor-dark-green) !important;
}

.tab-title span {
     line-height: normal;
     vertical-align: middle;
}

.tab-title i {
     vertical-align: middle;

}

.header_toggle,
.tab-title,
.nav_icon,
.nav_name {
     color: var(--tcolor-light-cream) !important;
}

.business-card {
     padding: 2em;
     background-color: var(--tcolor-light-green);
     width: 100%;
     border-radius: 16px;
     margin-bottom: 30px;
     color: var(--tcolor-dark);
     border: 3px solid var(--tcolor-lighter-green);
     transition: 0.15s ease-in-out;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
     cursor: pointer;
     z-index: 9999;
     position: relative;
}

.business-card img {
     max-width: 100%;
     width: 60px;
     background-color: var(--tcolor-lighter-green);
     border-radius: 10px;
     padding: 8px;
     transition: 1s;
}

.business-card h4 {
     margin: 0;
     margin-left: 20px;
     font-weight: 700;
     line-height: normal;
}

.business-card .h5-info {
     margin-bottom: 0;
     font-weight: 600;
}

.business-card .h5-info:not(:last-child) {
     margin-bottom: 20px;
}

.business-card .h5-info i {
     font-size: 26px;
     vertical-align: middle;
     width: 30px;
}

.business-card .h5-info span {
     line-height: normal;
     vertical-align: middle;
}

.business-card:hover {
     transform: scale(1.02);
     box-shadow: 2px 1px 10px 1px rgba(209, 191, 174, 0.2);
}

.business-card:hover img {
     transform: rotate(360deg);
}

#billing-inner-tabs .nav-link,
#context-inner-tab .nav-link,
#branding-branch-manager-tab .nav-link {
     color: rgba(255, 255, 255, 0.8) !important;
     border-bottom: 3px solid rgba(255, 255, 255, 0.1);
     transition: 0.15s;
     font-weight: 500;
}

#billing-inner-tabs .nav-link:not(:last-of-type),
#context-inner-tab .nav-link:not(:last-of-type),
#branding-branch-manager-tab .nav-link:not(:last-of-type) {
     margin-right: 10px;
}

#billing-inner-tabs .nav-link.active,
#context-inner-tab .nav-link.active,
#branding-branch-manager-tab .nav-link.active {
     color: var(--tcolor-light-green) !important;
     border-bottom-color: var(--tcolor-light-green);
}

#billing-inner-tabs .nav-link:not(.active):hover,
#context-inner-tab .nav-link:not(.active):hover,
#branding-branch-manager-tab .nav-link:not(.active):hover {
     color: var(--tcolor-lighter-green) !important;
}

#billing-invoices-table.table>:not(caption)>*>* {
     background-color: transparent;
     padding: 14px 5px;
     vertical-align: middle;
}

#billing-invoices-table.table-hover>tbody>tr:hover>* {
     cursor: pointer;
}

#billing-invoices-table td.invoice-paid span,
#billing-invoices-table td.invoice-unpaid span {
     padding: 8px 0px;
     border-radius: 12px;
     width: 80px;
     display: inline-block;
     text-align: center;
     font-weight: 500;
}

:root {
     --invoice-unpaid-color: rgba(252, 23, 23, 0.6);
     --invoice-paid-color: rgba(38, 255, 38, 0.6);
}

#billing-invoices-table td.invoice-paid span {
     background-color: var(--invoice-paid-color) !important;
     color: rgb(130, 255, 130);
}

#billing-invoices-table td.invoice-unpaid span {
     background-color: var(--invoice-unpaid-color) !important;
     color: rgb(255, 165, 165);
}

#billing-invoices-table tr.invoice-paid,
#billing-invoices-table tr.invoice-unpaid {
     border-left: 5px solid;
}

#billing-invoices-table tr.invoice-paid {
     border-left-color: var(--invoice-paid-color) !important;
}

#billing-invoices-table tr.invoice-unpaid {
     border-left-color: var(--invoice-unpaid-color) !important;
}

#billing-invoices-table tbody tr td:first-of-type {
     padding-left: 10px;
}

.billing-method-card {
     padding: 1.5em;
     border-radius: 16px;
     background-color: #5c74bc;
}

.billing-method-card .method-type-icon {
     background-color: white;
     padding: 0px 20px;
     border-radius: 12px;
}

.billing-method-card .method-type-icon img {
     height: 50px;
}

.billing-method-card .label {
     color: white;
     font-weight: 600;
     margin-bottom: 4px;
}

.billing-method-card h6 {
     margin-bottom: 0px;
}

.payment-method-cards-buttons i {
     vertical-align: middle;
}

.payment-method-cards-buttons span {
     line-height: normal;
     vertical-align: middle;
}

.analytics-card {
     border: 1px solid black;
     padding: 20px;
     border-radius: 6px;
     color: black;
     background-color: var(--tcolor-lighter-green);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: start;
     height: calc(140px + 12px);
     width: 100%;
}

.analytics-card.half-card {
     height: 70px;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.analytics-card .d-flex {
     width: 100%;
}

.analytics-card h6 {
     font-size: 20px;
     opacity: 0.8;
}

.analytics-card h4 {
     line-height: normal;
     font-weight: 600;
}

.analytics-card.half-card:not(:last-of-type) {
     margin-bottom: 12px;
}

.analytics-card .percentage {
     line-height: normal;
     background-color: var(--tcolor-dark);
     padding: 4px 5px;
     border-radius: 6px;
     ;
}

.analytics-card .percentage-positive {
     color: greenyellow;
}

.analytics-card .percentage-negative {
     color: rgb(255, 104, 104);
}

.analytics-card .percentage span,
.analytics-card .percentage i {
     font-weight: 500;
     line-height: normal;
     vertical-align: middle;
}

.analytics-second-section {
     height: 400px;
}

#analyticsChart {
     padding: 20px;
     border-radius: 6px;
     background-color: var(--tcolor-light-cream);
}

.analytics-acitivity {
     padding: 20px;
     border-radius: 6px;
     background-color: var(--tcolor-light-cream);
     color: black;
}

#customToolsTable,
#branchesTable,
#contextServicesTable,
#contextProductsTable {
     table-layout: fixed;
    overflow-wrap:break-word;
}

#customToolsTable.table>:not(caption)>*>*,
#branchesTable.table>:not(caption)>*>*,
#contextServicesTable.table>:not(caption)>*>*,
#contextProductsTable.table>:not(caption)>*>* {
     padding: 14px 20px;
     vertical-align: middle;
}

#customToolsTable.table>thead>*>*,
#branchesTable.table>thead>*>*,
#contextServicesTable.table>thead>*>*,
#contextProductsTable.table>thead>*>* {
     background-color: var(--tcolor-lighter-green);
     color: black;
}

@media (max-width: 768px)
{
     #customToolsTable,
     #branchesTable,
     #contextServicesTable,
     #contextProductsTable {
          overflow-x: scroll;
          display: inline-block;
          table-layout: auto;
     }
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
     height: 6px;
     width: 6px;
}

*::-webkit-scrollbar-track {
     border-radius: 4px;
     background-color: #F1ECE8;
}

*::-webkit-scrollbar-track:hover {
     background-color: #F1ECE8;
}

*::-webkit-scrollbar-track:active {
     background-color: #F1ECE8;
}

*::-webkit-scrollbar-thumb {
     border-radius: 0px;
     background-color: #CBE54E;
}

*::-webkit-scrollbar-thumb:hover {
     background-color: #94B447;
}

*::-webkit-scrollbar-thumb:active {
     background-color: #94B447;
}

/* Chrome, Edge and Safari */
.l-navbar::-webkit-scrollbar {
     height: 4px;
     width: 4px;
}

.l-navbar::-webkit-scrollbar-track {
     border-radius: 0px;
     background-color: #F1ECE8;
}

.l-navbar::-webkit-scrollbar-track:hover {
     background-color: #F1ECE8;
}

.l-navbar::-webkit-scrollbar-track:active {
     background-color: #F1ECE8;
}

.l-navbar::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background-color: #CBE54E;
}

.l-navbar::-webkit-scrollbar-thumb:hover {
     background-color: #94B447;
}

.l-navbar::-webkit-scrollbar-thumb:active {
     background-color: #94B447;
}

.btn-ic-span-align span,
.btn-ic-span-align i,
.btn-ic-span-align.dropdown-toggle::after {
     vertical-align: middle;
     line-height: normal;
}

#publishToolDropdown button {
     width: 160px;
}

#publishToolDropdown .dropdown-menu {
     width: 260px;
}

#toolHeadersList,
#toolInputArguementsList {
     max-height: 300px;
     overflow-y: scroll;
}

.responseStatusBox {
     background-color: #1a1a1a;
     padding: 1em;
     border-radius: 6px;
}

.mon-editor {
     min-height: 100px !important;
     width:100%;
     height:300px;
     border:1px solid grey;
     resize: vertical;
     overflow-x: auto;
}

.error-result-container ul {
     height: 90px;
     overflow-y: scroll;
     margin: 0;
     margin-top: 10px;
     background-color: #2a2a2a;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 6px;
}

.returnAlert {
     color: rgb(247, 86, 86);
     font-weight: 600;
}

.error-result-container ul span:first-child
{
     color: rgb(247, 86, 86);
     font-weight: 600;
}

.error-result-container ul li
{
     color: orange;
}

.brandingBranchBox {
     background-color: var(--tcolor-light-cream);
     color: var(--tcolor-dark);
     padding: 1em;
     border-radius: 6px;
     cursor: pointer;
     font-weight: 500;
}

.brandingBranchBox.active {
     background-color: var(--tcolor-light-green);
}

#brandingBranchInformationList {
     max-height: 300px;
     overflow-y: scroll;
}

.branchOpeningHoursDayBox {
     background-color: #3a3a3a;
     padding: 0.5em;
     border-radius: 6px;
     border: 1px solid var(--tcolor-darker-green);
}

.workingHoursTimingList {
     max-height: 120px;
     overflow-y: scroll;
}

.editBranchTeamBox {
     background-color: #3a3a3a;
     padding: 0.5em;
     border-radius: 6px;
     border: 1px solid var(--tcolor-darker-green);
}

#contextBranchInformationList {
     max-height: 300px;
     overflow-y: scroll;
}

#contextServiceInformationList {
     max-height: 300px;
     overflow-y: scroll;
}

#contextProductInformationList {
     max-height: 300px;
     overflow-y: scroll;
}

