<html data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard | Iqra AI</title>

    <link href="~/libs/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web-dist/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web-dist/css/regular.min.css" rel="stylesheet">
    <link href="~/libs/daterangepicker-dist/daterangepicker.css" rel="stylesheet">

    <link href="~/css/structure.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Iqra" />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />

    <style id="dynamicCSS"></style>
    <style id="dynamicBusinessCardH4CSS"></style>
</head>

<body id="body-pd" class="body-pd">
    <div id="page-loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <header class="header header-body-pd" id="header">
        <div class="header_toggle">
            <i class='fa-regular fa-bars fa-bars' id="header-toggle"></i>
        </div>
        <div class="header_notification">
            <div class="btn-group">
                <button type="button" id="header-notification" class="dropdown-toggle position-relative" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-bell fa-bell"></i>
                    <span id="notification-counter" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;">
                        0
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-0">
                    <div class="p-3 border-bottom d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Notifications</h6>
                        <a href="#" id="mark-all-read" class="text-muted small">Mark all as read</a>
                    </div>

                    <!-- The list will be dynamically populated here -->
                    <div class="p-0" id="notifications-list" style="max-height: 400px; overflow-y: auto;">
                        <!-- Example of an empty state -->
                        <div id="notification-empty-state" class="text-center p-4 text-muted">
                            <i class="fa-regular fa-check-circle fa-2x mb-2"></i>
                            <p>You're all caught up!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div class="upper-navigation">
                <a href="/" class="nav_logo">
                    <img class="nav_logo-icon" src="~/img/logo/logo-colored-light.png">
                </a>
                <div class="nav_list">
                    <a class="nav_link active" for="business-tab">
                        <i class='fa-regular fa-briefcase nav_icon'></i>
                        <span class="nav_name">Businesses</span>
                    </a>
                    <a class="nav_link" for="billing-tab">
                        <i class='fa-regular fa-credit-card nav_icon'></i>
                        <span class="nav_name">Billing</span>
                    </a>
                    <a class="nav_link" for="usage-tab">
                        <i class='fa-regular fa-chart-line nav_icon'></i>
                        <span class="nav_name">Usage</span>
                    </a>
                    <a class="nav_link" for="api-keys-tab">
                        <i class='fa-regular fa-key nav_icon'></i>
                        <span class="nav_name">API Keys</span>
                    </a>
                    <a class="nav_link disabled mb-0" for="settings-tab">
                        <i class='fa-regular fa-gear nav_icon'></i>
                        <span class="nav_name">Settings</span>
                    </a>
                </div>
            </div>
            <div class="bottom-navigation">
                <a href="/logout" class="nav_link mt-0">
                    <i class='fa-regular fa-right-from-bracket nav_icon'></i>
                    <span class="nav_name">Log out</span>
                </a>
            </div>
        </nav>
    </div>

    <!-- Main Container -->
    <div class="w-100 main-container-wrapper" id="tabs-list">

        <!-- Bussiness Container -->
        <partial name="_BusinessesTab.cshtml" />

        <!-- Billing Container -->
        <partial name="_BillingTab.cshtml" />

        <!-- Usage Container -->
        <partial name="_UsageTab.cshtml" />

        <!-- API Keys Container -->
        <partial name="_APIKeysTab.cshtml" />

        <!-- Settings Container -->
        <div class="main-container fade w-100 d-none" id="settings-tab">
            <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-gear nav_icon'></i> <span>Settings</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-- ASP -->
        <script>
            const BusinessLogoURL = "@(TempData["BusinessLogoURL"])";
        </script>

        <!-- libs -->
        <script defer src="https://umscriptami.badal.om/script.js" data-website-id="8f350117-f10d-4bdb-a6d6-63d4117a21c3"></script>
        <script src="~/js/jquery-3.7.1.min.js"></script>
        <script src="~/libs/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="~/js/moment-with-locales.js"></script>
        <script src="~/js/moment-timezone-with-data.js"></script>
        <script src="~/libs/daterangepicker-dist/daterangepicker.js"></script>

        <!-- Custom Scripts -->
        <script src="~/js/countries_list.js"></script>
        <script src="~/js/alert_manager.js"></script>
        <script src="~/js/notifications_manager.js"></script>
        <script src="~/js/confirm_dialog.js"></script>
        <script src="~/js/script.js"></script>

        <!-- Variables -->
        <script>
            var isBusinessAnimationEnabled = true;
        </script>

        <!-- Global -->
        <script>
            const AlertManager = new BootstrapAlertManager();
            window.AlertManager = AlertManager; // needed for iframes

            const notificationManager = new NotificationsManager();

            var MasterUserData = null;
            var UserPlanData = null;
            var SpecificationLanguagesListData = null;
            var CurrentBusinessesList = null;

            // API Related Calls
            function FetchMasterUserDataFromAPI(successCallback, errorCallback) {
                $.ajax({
                    url: '/app/user',
                    type: 'POST',
                    dataType: "json",
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }

                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }

            function FetchUserBillingPlanDataFromAPI(successCallback, errorCallback) {
                $.ajax({
                    url: '/app/user/billing/plan',
                    type: 'POST',
                    dataType: "json",
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }
                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }

            function FetchSpecificationLanguagesDataFromAPI(successCallback, errorCallback) {
                $.ajax({
                    url: '/app/specification/languages/',
                    type: 'POST',
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }

                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }

            function FetchUserBusinessesFromAPI(successCallback, errorCallback) {
                $.ajax({
                    url: '/app/user/businesses',
                    type: 'POST',
                    dataType: "json",
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }

                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }     
        </script>

        <!-- PageLoader -->
        <script>
            const pageLoader = $("#page-loader");

            var PageLoaderInterval = setInterval(
                () => {
                    if (
                        MasterUserData != null
                        &&
                        UserPlanData != null
                        &&
                        CurrentBusinessesList != null
                        &&
                        SpecificationLanguagesListData != null
                    ) {
                        clearInterval(PageLoaderInterval);

                        pageLoader.css("opacity", "0");
                        setTimeout(() => {
                            pageLoader.addClass("d-none");
                        }, 300);
                    }
                }
                , 100);

            function RunActionAfterBusinessesDataLoad(action) {
                var businessDataCheckInterval = setInterval(
                    () => {
                        if (CurrentBusinessesList != null) {
                            clearInterval(businessDataCheckInterval);
                            action();
                        }
                    }
                    , 100);
            }
        </script>

        <!-- Scripts -->
        <script src="~/scripts/app/home/businesses_tab.js"></script>
        <script src="~/scripts/app/home/billing_tab.js"></script>
        <script src="~/scripts/app/home/usage_tab.js"></script>
        <script src="~/scripts/app/home/api_keys_tab.js"></script>

        <!-- Init -->
        <script>
            $(document).ready(() => {

                FetchSpecificationLanguagesDataFromAPI(
                    (specLanguagesDataResult) => {
                        SpecificationLanguagesListData = specLanguagesDataResult;

                        FetchMasterUserDataFromAPI(
                            (masterUserData) => {
                                MasterUserData = masterUserData;

                                if (!MasterUserData.businessPermission.disableBusinesses) {
                                    // Fetch and Init Businesses Tab
                                    FetchUserBusinessesFromAPI(
                                        (userBusinesses) => {
                                            CurrentBusinessesList = userBusinesses;

                                            // Init The business Tab
                                            InitBusinessesTab();

                                            // Init Usage table
                                            InitUsageTab();

                                            // Init API Keys Tab
                                            InitApiKeysTab();
                                        },
                                        (userBusinessesError) => {
                                            AlertManager.createAlert({
                                                type: "danger",
                                                message: "Error occured while fetching user businesses. Check browser console for logs.",
                                                enableDismiss: false,
                                            });

                                            console.error("Error occured while fetching user businesses: ", userBusinessesError);
                                        },
                                    );

                                    // Fetch and init Billing Tab
                                    FetchUserBillingPlanDataFromAPI(
                                        (userPlanData) => {
                                            UserPlanData = userPlanData;

                                            // Init Billing Tab
                                            InitBillingTab();
                                        },
                                        (userPlanDataError) => {
                                            AlertManager.createAlert({
                                                type: "danger",
                                                message: "Error occured while fetching user plan data. Check browser console for logs.",
                                                enableDismiss: false,
                                            });
                                            console.error("Error occured while fetching user plan data: ", userPlanDataError);
                                        },
                                    );
                                } else {
                                    CurrentBusinessesList = [];

                                    let alertMessage = "Bussiness Viewing, Adding, Editing and Deleting are disabled for your account.";
                                    if (MasterUserData.businessPermission.disableBusinessesReason != null) {
                                        alertMessage = `${alertMessage}<br>Reason: ${MasterUserData.businessPermission.disableBusinessesReason}`;
                                    } else {
                                        alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                    }

                                    AlertManager.createAlert({
                                        type: "danger",
                                        message: alertMessage,
                                        enableDismiss: false,
                                    });
                                }

                                // Check sub business permissions
                                if (!MasterUserData.businessPermission.disableBusinesses)
                                {
                                    // check business add allowed
                                    if (MasterUserData.businessPermission.addBusinessDisabled) {
                                        let alertMessage = "Bussiness Adding is disabled for your account.";

                                        if (MasterUserData.businessPermission.addBusinessDisableReason != null) {
                                            alertMessage = `${alertMessage}<br>Reason: ${MasterUserData.businessPermission.addBusinessDisableReason}`;
                                        } else {
                                            alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                        }

                                        AlertManager.createAlert({
                                            type: "danger",
                                            message: alertMessage,
                                            enableDismiss: false,
                                        });
                                    } else {
                                        AddNewBusinessButton.prop("disabled", false);
                                    }

                                    // check business edit allowed
                                    if (MasterUserData.businessPermission.editBusinessDisabled) {
                                        let alertMessage = "Bussiness Editing is disabled for your account.";

                                        if (MasterUserData.businessPermission.editBusinessDisableReason != null) {
                                            alertMessage = `${alertMessage}<br>Reason: ${MasterUserData.businessPermission.editBusinessDisableReason}`;
                                        } else {
                                            alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                        }

                                        AlertManager.createAlert({
                                            type: "danger",
                                            message: alertMessage,
                                            enableDismiss: false,
                                        });
                                    }

                                    // check business delete allowed
                                    if (MasterUserData.businessPermission.deleteBusinessDisable) {
                                        let alertMessage = "Bussiness Deleting is disabled for your account.";

                                        if (MasterUserData.businessPermission.deleteBusinessDisableReason != null) {
                                            alertMessage = `${alertMessage}<br>Reason: ${MasterUserData.businessPermission.deleteBusinessDisableReason}`;
                                        } else {
                                            alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                        }

                                        AlertManager.createAlert({
                                            type: "danger",
                                            message: alertMessage,
                                            enableDismiss: false,
                                        });
                                    }
                                }

                            },
                            (masterUserDataError) => {
                                AlertManager.createAlert({
                                    type: "danger",
                                    message: "Error occured while fetching user data. Check browser console for logs.",
                                    enableDismiss: false,
                                });

                                console.error("Error occured while fetching user data: ", masterUserDataError);
                            },
                        );
                    },
                    (specLanguagesListError) => {
                        AlertManager.createAlert({
                            type: "danger",
                            message: "Error occured while fetching specification languages. Check browser console for logs.",
                            enableDismiss: false,
                        });

                        console.error("Error occured while fetching specification languages: ", specLanguagesListError);
                    }
                );
            });
        </script>
</body>

</html>