<html data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Iqra AI</title>

    <link href="~/libs/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web-dist/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web-dist/css/regular.min.css" rel="stylesheet">

    <link href="~/css/structure.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico">

    <style id="dynamicCSS"></style>
</head>

<body id="body-pd" class="body-pd">
    <div id="page-loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <header class="header header-body-pd" id="header">
        <div class="header_toggle"> <i class='fa-regular fa-bars fa-bars' id="header-toggle"></i> </div>
    </header>

    <!-- Sidebar -->
    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div class="upper-navigation">
                <a href="/" class="nav_logo">
                    <img class="nav_logo-icon" src="~/img/logo/logo-colored-light.png">
                </a>
                <div class="nav_list">
                    <a class="nav_link active" for="business-tab">
                        <i class='fa-regular fa-briefcase nav_icon'></i>
                        <span class="nav_name">Businesses</span>
                    </a>
                    <a class="nav_link disabled" for="billing-tab">
                        <i class='fa-regular fa-credit-card nav_icon'></i>
                        <span class="nav_name">Billing</span>
                    </a>
                    <a class="nav_link disabled mb-0" for="settings-tab">
                        <i class='fa-regular fa-gear nav_icon'></i>
                        <span class="nav_name">Settings</span>
                    </a>
                </div>
            </div>
            <div class="bottom-navigation">
                <a href="/logout" class="nav_link mt-0">
                    <i class='fa-regular fa-right-from-bracket nav_icon'></i>
                    <span class="nav_name">Log out</span>
                </a>
            </div>
        </nav>
    </div>

    <!-- Main Container -->
    <div class="w-100 main-container-wrapper" id="tabs-list">
        <!-- Bussiness Container -->
        <div class="main-container fade show w-100" id="business-tab">
            <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-briefcase'></i> <span>Businesses</span></h3>
            <div class="inner-container">
                <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                    <div style="min-width: 200px" class="me-4">
                        <button id="AddNewBusinessButton" class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewBusinessModal" disabled>
                            <span>+ Add New Business</span>
                        </button>
                    </div>
                    <div class="input-group w-100">
                        <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name" aria-describedby="searchBusinessButton" id="searchBusinessInput" disabled>
                        <button class="input-group-button btn btn-primary" id="searchBusinessButton" disabled>
                            <i class='fa-regular fa-magnifying-glass'></i>
                        </button>
                    </div>
                </div>
                <div class="row" id="BusinessesList">
                    <!-- Dynamically Generated -->
                </div>
            </div>
        </div>

        <!-- Billing Container -->
        <div class="main-container fade w-100 d-none" id="billing-tab">
            <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-credit-card nav_icon'></i> <span>Billing</span></h3>
            <div class="inner-container">
                <nav class="mb-4">
                    <ul class="nav" id="billing-inner-tabs" role="tablist">
                        <li class="nav-item me-2" role="presentation">
                            <button class="nav-link active" id="nav-invoice-tab" data-bs-toggle="tab" data-bs-target="#nav-invoice" type="button" role="tab" aria-controls="nav-invoice" aria-selected="true">
                                Invoice
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-method-tab" data-bs-toggle="tab" data-bs-target="#nav-method" type="button" role="tab" aria-controls="nav-method" aria-selected="false">
                                Method
                            </button>
                        </li>
                    </ul>
                </nav>
                <div class="tab-content w-100" id="billing-inner-tabContent">
                    <div class="tab-pane fade show active w-100" id="nav-invoice" role="tabpanel" aria-labelledby="nav-invoice-tab" tabindex="0">
                        <table class="table table-selectable w-100" id="billing-invoices-table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Invoice-Number</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="invoice-unpaid selectable">
                                    <td>4/27/2024</td>
                                    <td>112512</td>
                                    <td>$504.23</td>
                                    <td class="invoice-unpaid">
                                        <span>Unpaid</span>
                                    </td>
                                </tr>
                                <tr class="invoice-paid selectable">
                                    <td>3/26/2024</td>
                                    <td>523324</td>
                                    <td>$204.23</td>
                                    <td class="invoice-paid">
                                        <span>Paid</span>
                                    </td>
                                </tr>
                                <tr class="invoice-paid selectable">
                                    <td>2/24/2024</td>
                                    <td>967545</td>
                                    <td>$14.23</td>
                                    <td class="invoice-paid">
                                        <span>Paid</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade w-100" id="nav-method" role="tabpanel" aria-labelledby="nav-method-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="billing-method-card d-flex flex-column align-items-center justify-content-center mb-2">
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 mb-3">
                                        <div class="method-type-icon icon-visa">
                                            <img src="~/img/visa-svgrepo-com.svg">
                                        </div>

                                        <button class="btn btn-outline-light" type="button" disabled>Primary</button>
                                    </div>
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100 mb-3">
                                        <div>
                                            <h6 class="label">Card Number</h6>
                                            <h6>•••• •••• •••• 1539</h6>
                                        </div>

                                        <div>
                                            <h6 class="label">Expires</h6>
                                            <h6>04/24</h6>
                                        </div>

                                        <div>
                                            <h6 class="label">CVV</h6>
                                            <h6>•••</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center justify-content-between w-100">
                                        <div>
                                            <h6 class="label">Card Name</h6>
                                            <h6>John Doe</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between w-100 payment-method-cards-buttons">
                                    <button class="btn btn-light w-100 me-3">
                                        <i class="fa-regular fa-trash"></i>
                                        <span>Delete</span>
                                    </button>

                                    <button class="btn btn-light w-100">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                        <span>Edit</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Settings Container -->
        <div class="main-container fade w-100 d-none" id="settings-tab">
            <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-gear nav_icon'></i> <span>Settings</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-------------------
        
                MODALS
        
        --------------------->

        <!-- Add New Business Modal -->
        <div class="modal modal-lg fade" id="addNewBusinessModal" tabindex="-1" aria-labelledby="addNewBusinessModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewBusinessModalLabel">Add New Business</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="addNewBusinessNameInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="addNewBusinessNameInput" placeholder="Business Name">
                        </div>
                        <div class="mb-3">
                            <label for="addNewBusinessLogoInput" class="form-label d-block">Logo</label>
                            <img src="~/img/picture_placeholder_light.png" class="rounded-3 image-fluid" id="addNewBusinessLogoPreview">
                            <input type="file" class="form-control d-none" id="addNewBusinessLogoInput" accept="image/png, image/gif, image/jpeg, image/webp">
                        </div>
                        <div>
                            <label for="addNewBusinessDefaultLanguageSelect" class="form-label">Default Language</label>
                            <select class="form-select" id="addNewBusinessDefaultLanguageSelect">
                                <option value="none" selected disabled>Select Language</option>
                                <!-- Dynamically Generated -->
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-ic-span-align" id="addNewBusinessButton" disabled>
                            <i class="fa-regular fa-plus"></i>
                            <span>Add</span>
                            <div class="spinner-border save-button-spinner d-none" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ASP -->
        <script>
            const BusinessLogoURL = "@(TempData["BusinessLogoURL"])";
        </script>

        <!-- libs -->
        <script src="~/js/jquery-3.7.1.min.js"></script>
        <script src="~/libs/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>

        <!-- Custom Scripts -->
        <script src="~/js/countries_list.js"></script>
        <script src="~/js/alert_manager.js"></script>
        <script src="~/js/confirm_dialog.js"></script>
        <script src="~/js/script.js"></script>

        <!-- Variables -->
        <script>
            var isBusinessAnimationEnabled = true;
        </script>

        <!-- Global -->
        <script>
            var AlertManager = new BootstrapAlertManager();

            var SpecificationLanguagesListData = null;

            var CurrentUserBusinessPermission = null;

            var CurrentBusinessesList = null;

            // API Related Calls
            function FetchSpecificationLanguagesDataFromAPI(successCallback, errorCallback) {
                $.ajax({
                    url: '/app/specification/languages/',
                    type: 'POST',
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }

                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }

            function FetchUserBusinessPermissionsFromAPI(successCallback, errorCallback) {
                $.ajax({
                    url: '/app/user/permissions/business',
                    type: 'POST',
                    dataType: "json",
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }

                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }

            function FetchUserBusinessesFromAPI(successCallback, errorCallback) {
                $.ajax({
                    url: '/app/user/businesses',
                    type: 'POST',
                    dataType: "json",
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }

                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }

            function AddNewUserBusinessToAPI(formData, successCallback, errorCallback) {
                $.ajax({
                    url: '/app/user/business/add',
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: (response) => {
                        if (!response.success) {
                            errorCallback(response);
                            return;
                        }

                        successCallback(response.data);
                    },
                    error: (error) => {
                        errorCallback(error);
                    }
                });
            }
        </script>

        <!-- PageLoader -->
        <script>
            const pageLoader = $("#page-loader");

            var PageLoaderInterval = setInterval(
                () => {
                    if (
                        CurrentBusinessesList != null
                        &&
                        SpecificationLanguagesListData != null
                    ) {
                        clearInterval(PageLoaderInterval);

                        pageLoader.css("opacity", "0");
                        setTimeout(() => {
                            pageLoader.addClass("d-none");
                        }, 300);
                    }
                }
                , 100);

            function RunActionAfterBusinessesDataLoad(action) {
                var businessDataCheckInterval = setInterval(
                    () => {
                        if (CurrentBusinessesList != null) {
                            clearInterval(businessDataCheckInterval);
                            action();
                        }
                    }
                    , 100);
            }
        </script>

        <!-- Scripts -->
        <script src="~/scripts/app/index/businesses_tab.js"></script>

        <!-- Init -->
        <script>
            $(document).ready(() => {

                FetchSpecificationLanguagesDataFromAPI(
                    (specLanguagesDataResult) => {
                        SpecificationLanguagesListData = specLanguagesDataResult;

                        FetchUserBusinessPermissionsFromAPI(
                            (userBusinessPermission) => {

                                CurrentUserBusinessPermission = userBusinessPermission;

                                if (userBusinessPermission.disableBusinessesAt == null) {
                                    searchBusinessInput.prop("disabled", false);
                                    searchBusinessButton.prop("disabled", false);

                                    FetchUserBusinessesFromAPI(
                                        (userBusinesses) => {
                                            CurrentBusinessesList = userBusinesses;

                                            // Init The business Tab
                                            InitBusinessesTab();
                                        },
                                        (userBusinessesError) => {
                                            AlertManager.createAlert({
                                                type: "danger",
                                                message: "Error occured while fetching user businesses. Check browser console for logs.",
                                                enableDismiss: false,
                                            });

                                            console.error("Error occured while fetching user businesses: ", userBusinessesError);
                                        },
                                    );
                                } else {
                                    CurrentBusinessesList = [];

                                    let alertMessage = "Bussiness Viewing, Adding, Editing and Deleting are disabled for your account.";
                                    if (userBusinessPermission.disableBusinessesReason != null) {
                                        alertMessage = `${alertMessage}<br>Reason: ${userBusinessPermission.disableBusinessesReason}`;
                                    } else {
                                        alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                    }

                                    AlertManager.createAlert({
                                        type: "danger",
                                        message: alertMessage,
                                        enableDismiss: false,
                                    });
                                }

                                if (userBusinessPermission.addBusinessDisabledAt != null || userBusinessPermission.disableBusinessesAt != null) {
                                    if (userBusinessPermission.disableBusinessesAt == null) {
                                        let alertMessage = "Bussiness Adding is disabled for your account.";

                                        if (userBusinessPermission.addBusinessDisableReason != null) {
                                            alertMessage = `${alertMessage}<br>Reason: ${userBusinessPermission.addBusinessDisableReason}`;
                                        } else {
                                            alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                        }

                                        AlertManager.createAlert({
                                            type: "danger",
                                            message: alertMessage,
                                            enableDismiss: false,
                                        });
                                    }
                                } else {
                                    AddNewBusinessButton.prop("disabled", false);
                                }

                                if (userBusinessPermission.editBusinessDisabledAt != null || userBusinessPermission.disableBusinessesAt != null) {
                                    if (userBusinessPermission.disableBusinessesAt == null) {
                                        let alertMessage = "Bussiness Editing is disabled for your account.";

                                        if (userBusinessPermission.editBusinessDisableReason != null) {
                                            alertMessage = `${alertMessage}<br>Reason: ${userBusinessPermission.editBusinessDisableReason}`;
                                        } else {
                                            alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                        }

                                        AlertManager.createAlert({
                                            type: "danger",
                                            message: alertMessage,
                                            enableDismiss: false,
                                        });
                                    }
                                }

                                if (userBusinessPermission.deleteBusinessDisableAt != null || userBusinessPermission.disableBusinessesAt != null) {
                                    if (userBusinessPermission.disableBusinessesAt == null) {
                                        let alertMessage = "Bussiness Deleting is disabled for your account.";

                                        if (userBusinessPermission.deleteBusinessDisableReason != null) {
                                            alertMessage = `${alertMessage}<br>Reason: ${userBusinessPermission.deleteBusinessDisableReason}`;
                                        } else {
                                            alertMessage = `${alertMessage}<br>Please contact support for more information.`;
                                        }

                                        AlertManager.createAlert({
                                            type: "danger",
                                            message: alertMessage,
                                            enableDismiss: false,
                                        });
                                    }
                                }
                            },
                            (userBusinessPermissionError) => {
                                AlertManager.createAlert({
                                    type: "danger",
                                    message: "Error occured while fetching user businesses. Check browser console for logs.",
                                    enableDismiss: false,
                                });

                                console.error("Error occured while fetching user businesses: ", userBusinessPermissionError);
                            },
                        );
                    },
                    (specLanguagesListError) => {
                        AlertManager.createAlert({
                            type: "danger",
                            message: "Error occured while fetching specification languages. Check browser console for logs.",
                            enableDismiss: false,
                        });

                        console.error("Error occured while fetching specification languages: ", specLanguagesListError);
                    }
                ); 
            });
        </script>
</body>

</html>