<div class="main-container fade w-100 d-none" id="embedding-provider-tab">
    <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-atom-simple nav_icon'></i> <span>Embedding Provider</span></h3>

    <div class="inner-header-container mb-3">
        <!-- Header -->
        <ul class="nav w-100 fade show" id="embedding-provider-inner-header" role="tablist">
            <li class="nav-item me-2" role="presentation">
                <button class="nav-link active" id="embedding-provider-list-tab" data-bs-toggle="pill" data-bs-target="#embedding-provider-list" type="button" role="tab" aria-controls="embedding-provider-list" aria-selected="true">List</button>
            </li>
        </ul>

        <!-- Manager Inner Tabs -->
        <div class="w-100 fade d-none" id="embedding-provider-manager-inner-header">      
            <nav class="mb-3" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="#" id="switchBackToEmbeddingProviderListTabFromManageTab">Providers</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"><span id="currentManageEmbeddingProviderName">Provider</span></li>
                </ol>
            </nav>
            <div class="d-flex flex-row align-items-center justify-content-between">
                <ul class="nav fade show" id="embedding-provider-manager-inner-tab" role="tablist">
                    <li class="nav-item me-2" role="presentation">
                        <button class="nav-link active" id="embedding-provider-manager-general-tab" data-bs-toggle="pill" data-bs-target="#embedding-provider-manager-general" type="button" role="tab" aria-controls="embedding-provider-manager-general" aria-selected="true">General</button>
                    </li>
                    <li class="nav-item me-2" role="presentation">
                        <button class="nav-link" id="embedding-provider-manager-models-tab" data-bs-toggle="pill" data-bs-target="#embedding-provider-manager-models" type="button" role="tab" aria-controls="embedding-provider-manager-models" aria-selected="true">Models</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="embedding-provider-manager-integrations-tab" data-bs-toggle="pill" data-bs-target="#embedding-provider-manager-integrations" type="button" role="tab" aria-controls="embedding-provider-manager-integrations" aria-selected="false">Integrations</button>
                    </li>
                </ul>
                <button class="btn btn-primary btn-sm btn-ic-span-align" id="saveManageEmbeddingProviderButton" disabled>
                    <i class='fa-regular fa-floppy-disk'></i>
                    <span> Save</span>
                </button>
            </div>
        </div>

        <!-- Manager Model Header -->
        <div class="w-100 fade d-none" id="embedding-provider-model-manager-inner-header">
            <nav class="mb-3" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item" aria-current="page"><span id="currentManageModelEmbeddingProviderName">Provider</span></li>
                    <li class="breadcrumb-item">
                        <a href="#" id="switchBackToEmbeddingProviderManagerModelsListTabFromModelTab">Models</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"><span id="currentManageEmbeddingProviderModelName">Model</span></li>
                </ol>
            </nav>
            <div class="d-flex flex-row align-items-center justify-content-between">
                <ul class="nav" id="embedding-provider-model-manager-inner-tab" role="tablist">
                    <li class="nav-item me-2" role="presentation">
                        <button class="nav-link active" id="embedding-provider-model-manager-general-tab" data-bs-toggle="pill" data-bs-target="#embedding-provider-model-manager-general" type="button" role="tab" aria-controls="embedding-provider-model-manager-general" aria-selected="true">General</button>
                    </li>
                </ul>
                <button class="btn btn-primary btn-sm btn-ic-span-align" id="saveManageEmbeddingProviderModelButton">
                    <i class='fa-regular fa-floppy-disk'></i>
                    <span> Save</span>
                </button>
            </div>
        </div>
    </div>

    <div class="inner-container">
        
        <!-- Tab Content -->
        <div class="tab-content" id="embedding-provider-tab-content">

            <!-- List -->
            <div class="tab-pane fade w-100 show active" id="embedding-provider-list" role="tabpanel" aria-labelledby="embedding-provider-list-tab" tabindex="0">
                <div class="fade w-100 show" id="embeddingProviderListTableTab">
                    <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" placeholder="Embedding Provider Name or Id" aria-label="Embedding Provider Name or Id" aria-describedby="searchEmbeddingProviderButton">
                            <button class="input-group-button btn btn-primary" id="searchEmbeddingProviderButton">
                                <i class='fa-regular fa-magnifying-glass'></i>
                            </button>
                        </div>
                    </div>
                    <table id="embeddingProviderListTable" class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Disabled</th>
                                <th scope="col">Models</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamically Generated -->
                        </tbody>
                    </table>
                </div>

                <!-- Provider Manage Tab -->
                <div class="fade w-100 d-none" id="embeddingProviderManageTab">
                    <!-- Tab Content -->
                    <div class="tab-content" id="embedding-provider-manager-manage-tab-content">
                        <!-- General -->
                        <div class="tab-pane fade w-100 show active" id="embedding-provider-manager-general" role="tabpanel" aria-labelledby="embedding-provider-manager-general-tab" tabindex="0">
                            <div class="mb-3">
                                <label class="form-label" for="manageEmbeddingProviderIdInput">Identifer</label>
                                <input type="text" class="form-control" id="manageEmbeddingProviderIdInput" placeholder="Identifer" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="manageEmbeddingProviderIntegrationSelect">Integration</label>
                                <select class="form-select" id="manageEmbeddingProviderIntegrationSelect">
                                    <option value="">Select Integration</option>
                                </select>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="manageEmbeddingProviderDisabledInput">
                                <label class="form-check-label" for="manageEmbeddingProviderDisabledInput">Disabled</label>
                            </div>
                        </div>

                        <!-- Models -->
                        <div class="tab-pane fade w-100" id="embedding-provider-manager-models" role="tabpanel" aria-labelledby="embedding-provider-manager-models-tab" tabindex="0">
                            <!-- List Tab -->
                            <div class="fade w-100 show" id="embeddingProviderManagerModelsListTab">
                                <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                    <div style="min-width: 200px" class="me-4">
                                        <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewEmbeddingProviderModelButton">
                                            <span>+ Add New Model</span>
                                        </button>
                                    </div>
                                    <div class="input-group w-100">
                                        <input type="text" class="form-control" placeholder="Model Name or Id" aria-label="Model Name or Id" aria-describedby="searchEmbeddingProviderModelButton">
                                        <button class="input-group-button btn btn-primary" id="searchEmbeddingProviderModelButton">
                                            <i class='fa-regular fa-magnifying-glass'></i>
                                        </button>
                                    </div>
                                </div>
                                <table id="embeddingProviderModelListTable" class="table w-100">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Disabled</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                            <!-- Manage Tab -->
                            <div class="fade w-100 d-none" id="embeddingProviderManagerModelManageTab">
                                <!-- Tab Content -->
                                <div class="tab-content" id="embedding-provider-model-manager-manage-tab-content">
                                    <!-- General -->
                                    <div class="tab-pane fade w-100 show active" id="embedding-provider-model-manager-general" role="tabpanel" aria-labelledby="embedding-provider-model-manager-general-tab" tabindex="0">
                                        <div class="mb-3">
                                            <label class="form-label" for="manageEmbeddingProviderModelIdInput">Identifer</label>
                                            <input type="text" class="form-control" id="manageEmbeddingProviderModelIdInput" placeholder="Model Identifer">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="manageEmbeddingProviderModelNameInput">Name</label>
                                            <input type="text" class="form-control" id="manageEmbeddingProviderModelNameInput" placeholder="Model Name">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Price / Token Unit</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" placeholder="Price" id="manageEmbeddingProviderModelPriceInput" step="0.000001">
                                                <span class="input-group-text">/</span>
                                                <input type="number" class="form-control" placeholder="For x Tokens" id="manageEmbeddingProviderModelPriceTokensInput">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="manageEmbeddingProviderModelDimensionsInput">Available Vector Dimensions</label>
                                            <input type="text" class="form-control" id="manageEmbeddingProviderModelDimensionsInput" placeholder="e.g. 256, 768, 1536">
                                            <div class="form-text">Enter a comma-separated list of supported integer dimensions.</div>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input" type="checkbox" role="switch" id="manageEmbeddingProviderModelDisabledInput" checked>
                                            <label class="form-check-label" for="manageEmbeddingProviderModelDisabledInput">Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Integrations -->
                        <div class="tab-pane fade w-100" id="embedding-provider-manager-integrations" role="tabpanel" aria-labelledby="embedding-provider-manager-integrations-tab" tabindex="0">
                            <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                <div style="min-width: 200px" class="me-4">
                                    <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewEmbeddingProviderIntegrationFieldButton">
                                        <span>+ Add New Field</span>
                                    </button>
                                </div>
                                <div class="input-group w-100">
                                    <input type="text" class="form-control" placeholder="Search Field" aria-label="Search Field" aria-describedby="searchEmbeddingProviderIntegrationFieldButton">
                                    <button class="input-group-button btn btn-primary" id="searchEmbeddingProviderIntegrationFieldButton">
                                        <i class='fa-regular fa-magnifying-glass'></i>
                                    </button>
                                </div>
                            </div>
                            <div id="embeddingProviderIntegrationFieldsList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
