<div class="main-container fade w-100 d-none" id="llm-provider-tab">
    <h3 class="fw-bold tab-title"><i class='fa-regular fa-message-text nav_icon'></i> <span>LLM Provider</span></h3>
    <div class="inner-container">
        <!-- Manager Inner Tabs -->
        <div class="mb-3">
            <ul class="nav w-100 fade show" id="llm-provider-inner-tab" role="tablist">
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link active" id="llm-provider-list-tab" data-bs-toggle="pill" data-bs-target="#llm-provider-list" type="button" role="tab" aria-controls="llm-provider-list" aria-selected="true">List</button>
                </li>
            </ul>
            <nav class="w-100 fade d-none" aria-label="breadcrumb" id="llm-provider-manage-breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="#" id="switchBackToLLMProviderListTabFromManageTab">Providers</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"><span id="currentManageLLMProviderName">Provider</span></li>
                </ol>
            </nav>
            <nav class="w-100 fade d-none" aria-label="breadcrumb" id="llm-provider-model-manager-breadcrumb">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item" aria-current="page"><span id="currentManageModelLLMProviderName">Provider</span></li>
                        <li class="breadcrumb-item">
                            <a href="#" id="switchBackToLLMProviderManagerModelsListTabFromModelTab">Models</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><span id="currentManageLLMProviderModelName">Model</span></li>
                    </ol>
                    <button class="btn btn-primary btn-sm btn-ic-span-align" id="saveManageLLMProviderModelButton">
                        <i class='fa-regular fa-floppy-disk'></i>
                        <span> Save</span>
                    </button>
                </div>
            </nav>
        </div>
        <!-- Tab Content -->
        <div class="tab-content" id="llm-provider-tab-content">

            <!-- List -->
            <div class="tab-pane fade w-100 show active" id="llm-provider-list" role="tabpanel" aria-labelledby="llm-provider-list-tab" tabindex="0">

                <!-- Table Tab -->
                <div class="fade w-100 show" id="llmProviderListTableTab">
                    <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" placeholder="LLM Provider Name or Id" aria-label="LLM Provider Name or Id" aria-describedby="searchLLMProviderButton">
                            <button class="input-group-button btn btn-primary" id="searchLLMProviderButton">
                                <i class='fa-regular fa-magnifying-glass'></i>
                            </button>
                        </div>
                    </div>
                    <table id="llmProviderListTable" class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Disabled</th>
                                <th scope="col">Models</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamically Generated -->
                        </tbody>
                    </table>
                </div>

                <!-- Provider Manage Tab -->
                <div class="fade w-100 d-none" id="llmProviderManageTab">
                    <!-- Manager Inner Tabs -->
                    <div class="d-flex flex-row align-items-center justify-content-between mb-3 fade show w-100" id="llm-provider-manager-inner-tab-container">
                        <ul class="nav fade show" id="llm-provider-manager-inner-tab" role="tablist">
                            <li class="nav-item me-2" role="presentation">
                                <button class="nav-link active" id="llm-provider-manager-general-tab" data-bs-toggle="pill" data-bs-target="#llm-provider-manager-general" type="button" role="tab" aria-controls="llm-provider-manager-general" aria-selected="true">General</button>
                            </li>
                            <li class="nav-item me-2" role="presentation">
                                <button class="nav-link" id="llm-provider-manager-models-tab" data-bs-toggle="pill" data-bs-target="#llm-provider-manager-models" type="button" role="tab" aria-controls="llm-provider-manager-models" aria-selected="true">Models</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="llm-provider-manager-integrations-tab" data-bs-toggle="pill" data-bs-target="#llm-provider-manager-integrations" type="button" role="tab" aria-controls="llm-provider-manager-integrations" aria-selected="false">
                                    Integrations
                                </button>
                            </li>
                        </ul>
                        <button class="btn btn-primary btn-sm btn-ic-span-align" id="saveManageLLMProviderButton" disabled>
                            <i class='fa-regular fa-floppy-disk'></i>
                            <span> Save</span>
                        </button>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content" id="llm-provider-manager-manage-tab-content">

                        <!-- General -->
                        <div class="tab-pane fade w-100 show active" id="llm-provider-manager-general" role="tabpanel" aria-labelledby="llm-provider-manager-general-tab" tabindex="0">
                            <div class="mb-3">
                                <label class="form-label" for="manageLLMProviderIdInput">Identifer</label>
                                <input type="text" class="form-control" id="manageLLMProviderIdInput" placeholder="Identifer" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="manageLLMProviderIntegrationSelect">Integration</label>
                                <select class="form-select" id="manageLLMProviderIntegrationSelect">
                                    <option value="">Select Integration</option>
                                    <!-- Available integrations will be populated dynamically -->
                                </select>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="manageLLMProviderDisabledInput">
                                <label class="form-check-label" for="manageLLMProviderDisabledInput">Disabled</label>
                            </div>
                        </div>

                        <!-- Models -->
                        <div class="tab-pane fade w-100" id="llm-provider-manager-models" role="tabpanel" aria-labelledby="llm-provider-manager-models-tab" tabindex="0">

                            <!-- List Tab -->
                            <div class="fade w-100 show" id="llmProviderManagerModelsListTab">
                                <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                    <div style="min-width: 200px" class="me-4">
                                        <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewLLMProviderModelButton">
                                            <span>+ Add New Model</span>
                                        </button>
                                    </div>
                                    <div class="input-group w-100">
                                        <input type="text" class="form-control" placeholder="Model Name or Id" aria-label="Model Name or Id" aria-describedby="searchLLMProviderModelButton">
                                        <button class="input-group-button btn btn-primary" id="searchLLMProviderModelButton">
                                            <i class='fa-regular fa-magnifying-glass'></i>
                                        </button>
                                    </div>
                                </div>
                                <table id="llmProviderModelListTable" class="table w-100">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Disabled</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Dynamically Generated -->
                                    </tbody>
                                </table>
                            </div>

                            <!-- Manage Tab -->
                            <div class="fade w-100 d-none" id="llmProviderManagerModelManageTab">
                                <!-- Manager Inner Tabs -->
                                <div class="d-flex flex-row align-items-center justify-content-between mb-3">
                                    <ul class="nav" id="llm-provider-model-manager-inner-tab" role="tablist">
                                        <li class="nav-item me-2" role="presentation">
                                            <button class="nav-link active" id="llm-provider-model-manager-general-tab" data-bs-toggle="pill" data-bs-target="#llm-provider-model-manager-general" type="button" role="tab" aria-controls="llm-provider-model-manager-general" aria-selected="true">General</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="llm-provider-model-manager-prompts-tab" data-bs-toggle="pill" data-bs-target="#llm-provider-model-manager-prompts" type="button" role="tab" aria-controls="llm-provider-model-manager-prompts" aria-selected="true">Prompts</button>
                                        </li>
                                    </ul>

                                    <div id="manageLLMProviderModelLanguageContainer">
                                        <!-- Dynamically Generated -->
                                    </div>
                                </div>
                                <!-- Tab Content -->
                                <div class="tab-content" id="llm-provider-model-manager-manage-tab-content">
                                    <!-- General -->
                                    <div class="tab-pane fade w-100 show active" id="llm-provider-model-manager-general" role="tabpanel" aria-labelledby="llm-provider-model-manager-general-tab" tabindex="0">
                                        <div class="mb-3">
                                            <label class="form-label" for="manageLLMProviderModelIdInput">Identifer</label>
                                            <input type="text" class="form-control" id="manageLLMProviderModelIdInput" placeholder="Model Identifer">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="manageLLMProviderModelNameInput">Name</label>
                                            <input type="text" class="form-control" id="manageLLMProviderModelNameInput" placeholder="Model Name">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Input (Price/Token Unit)</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" placeholder="Price" id="manageLLMProviderModelInputPriceInput">
                                                <span class="input-group-text">/</span>
                                                <input type="number" class="form-control" placeholder="For x Tokens" id="manageLLMProviderModelInputTokensInput">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Output (Price/Token Unit)</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" placeholder="Price" id="manageLLMProviderModelOutputPriceInput">
                                                <span class="input-group-text">/</span>
                                                <input type="number" class="form-control" placeholder="For x Tokens" id="manageLLMProviderModelOutputTokensInput">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Tokens Length (Input/Output)</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" placeholder="Input Length" id="manageLLMProviderModelInputLengthInput">
                                                <span class="input-group-text">/</span>
                                                <input type="number" class="form-control" placeholder="Output Length" id="manageLLMProviderModelOutputLengthInput">
                                            </div>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input" type="checkbox" role="switch" id="manageLLMProviderModelDisabledInput" checked>
                                            <label class="form-check-label" for="manageLLMProviderModelDisabledInput">Disabled</label>
                                        </div>
                                    </div>
                                    <!-- Prompts -->
                                    <div class="tab-pane fade w-100" id="llm-provider-model-manager-prompts" role="tabpanel" aria-labelledby="llm-provider-model-manager-prompts-tab" tabindex="0">
                                        <div class="mb-3">
                                            <label class="form-label" for="manageLLMProviderModelPromptTemplateInput">
                                                <span>Prompt Template</span>
                                                <i class="fa-regular fa-language"></i>
                                            </label>
                                            <textarea class="form-control" id="manageLLMProviderModelPromptTemplateInput" rows="30"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Integrations -->
                        <div class="tab-pane fade w-100" id="llm-provider-manager-integrations" role="tabpanel" aria-labelledby="llm-provider-manager-integrations-tab" tabindex="0">
                            <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                <div style="min-width: 200px" class="me-4">
                                    <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewLLMProviderIntegrationFieldButton">
                                        <span>+ Add New Field</span>
                                    </button>
                                </div>
                                <div class="input-group w-100">
                                    <input type="text" class="form-control" placeholder="Search Field" aria-label="Search Field" aria-describedby="searchLLMProviderIntegrationFieldButton">
                                    <button class="input-group-button btn btn-primary" id="searchLLMProviderIntegrationFieldButton">
                                        <i class='fa-regular fa-magnifying-glass'></i>
                                    </button>
                                </div>
                            </div>
                            <div id="llmProviderIntegrationFieldsList">
                                <!-- Fields will be dynamically added here -->
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
