<div class="main-container fade w-100 d-none" id="rerank-provider-tab">
    <h3 class="fw-bold tab-title"><i class='fa-regular fa-sort-amount-up-alt nav_icon'></i> <span>Rerank Provider</span></h3>
    <div class="inner-container">
        <!-- Manager Inner Tabs & Breadcrumbs -->
        <div class="mb-3">
            <ul class="nav w-100 fade show" id="rerank-provider-inner-tab" role="tablist">
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link active" id="rerank-provider-list-tab" data-bs-toggle="pill" data-bs-target="#rerank-provider-list" type="button" role="tab" aria-controls="rerank-provider-list" aria-selected="true">List</button>
                </li>
            </ul>
            <nav class="w-100 fade d-none" aria-label="breadcrumb" id="rerank-provider-manage-breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="#" id="switchBackToRerankProviderListTabFromManageTab">Providers</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"><span id="currentManageRerankProviderName">Provider</span></li>
                </ol>
            </nav>
            <nav class="w-100 fade d-none" aria-label="breadcrumb" id="rerank-provider-model-manager-breadcrumb">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item" aria-current="page"><span id="currentManageModelRerankProviderName">Provider</span></li>
                        <li class="breadcrumb-item">
                            <a href="#" id="switchBackToRerankProviderManagerModelsListTabFromModelTab">Models</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><span id="currentManageRerankProviderModelName">Model</span></li>
                    </ol>
                    <button class="btn btn-primary btn-sm btn-ic-span-align" id="saveManageRerankProviderModelButton">
                        <i class='fa-regular fa-floppy-disk'></i>
                        <span> Save</span>
                    </button>
                </div>
            </nav>
        </div>
        <!-- Tab Content -->
        <div class="tab-content" id="rerank-provider-tab-content">

            <!-- List -->
            <div class="tab-pane fade w-100 show active" id="rerank-provider-list" role="tabpanel" aria-labelledby="rerank-provider-list-tab" tabindex="0">
                <div class="fade w-100 show" id="rerankProviderListTableTab">
                    <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" placeholder="Rerank Provider Name or Id" aria-label="Rerank Provider Name or Id" aria-describedby="searchRerankProviderButton">
                            <button class="input-group-button btn btn-primary" id="searchRerankProviderButton">
                                <i class='fa-regular fa-magnifying-glass'></i>
                            </button>
                        </div>
                    </div>
                    <table id="rerankProviderListTable" class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Disabled</th>
                                <th scope="col">Models</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamically Generated -->
                        </tbody>
                    </table>
                </div>

                <!-- Provider Manage Tab -->
                <div class="fade w-100 d-none" id="rerankProviderManageTab">
                    <!-- Manager Inner Tabs -->
                    <div class="d-flex flex-row align-items-center justify-content-between mb-3 fade show w-100" id="rerank-provider-manager-inner-tab-container">
                        <ul class="nav fade show" id="rerank-provider-manager-inner-tab" role="tablist">
                            <li class="nav-item me-2" role="presentation">
                                <button class="nav-link active" id="rerank-provider-manager-general-tab" data-bs-toggle="pill" data-bs-target="#rerank-provider-manager-general" type="button" role="tab" aria-controls="rerank-provider-manager-general" aria-selected="true">General</button>
                            </li>
                            <li class="nav-item me-2" role="presentation">
                                <button class="nav-link" id="rerank-provider-manager-models-tab" data-bs-toggle="pill" data-bs-target="#rerank-provider-manager-models" type="button" role="tab" aria-controls="rerank-provider-manager-models" aria-selected="true">Models</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="rerank-provider-manager-integrations-tab" data-bs-toggle="pill" data-bs-target="#rerank-provider-manager-integrations" type="button" role="tab" aria-controls="rerank-provider-manager-integrations" aria-selected="false">Integrations</button>
                            </li>
                        </ul>
                        <button class="btn btn-primary btn-sm btn-ic-span-align" id="saveManageRerankProviderButton" disabled>
                            <i class='fa-regular fa-floppy-disk'></i>
                            <span> Save</span>
                        </button>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content" id="rerank-provider-manager-manage-tab-content">
                        <!-- General -->
                        <div class="tab-pane fade w-100 show active" id="rerank-provider-manager-general" role="tabpanel" aria-labelledby="rerank-provider-manager-general-tab" tabindex="0">
                            <div class="mb-3">
                                <label class="form-label" for="manageRerankProviderIdInput">Identifer</label>
                                <input type="text" class="form-control" id="manageRerankProviderIdInput" placeholder="Identifer" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="manageRerankProviderIntegrationSelect">Integration</label>
                                <select class="form-select" id="manageRerankProviderIntegrationSelect">
                                    <option value="">Select Integration</option>
                                </select>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="manageRerankProviderDisabledInput">
                                <label class="form-check-label" for="manageRerankProviderDisabledInput">Disabled</label>
                            </div>
                        </div>

                        <!-- Models -->
                        <div class="tab-pane fade w-100" id="rerank-provider-manager-models" role="tabpanel" aria-labelledby="rerank-provider-manager-models-tab" tabindex="0">
                            <!-- List Tab -->
                            <div class="fade w-100 show" id="rerankProviderManagerModelsListTab">
                                <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                    <div style="min-width: 200px" class="me-4">
                                        <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewRerankProviderModelButton">
                                            <span>+ Add New Model</span>
                                        </button>
                                    </div>
                                    <div class="input-group w-100">
                                        <input type="text" class="form-control" placeholder="Model Name or Id" aria-label="Model Name or Id" aria-describedby="searchRerankProviderModelButton">
                                        <button class="input-group-button btn btn-primary" id="searchRerankProviderModelButton">
                                            <i class='fa-regular fa-magnifying-glass'></i>
                                        </button>
                                    </div>
                                </div>
                                <table id="rerankProviderModelListTable" class="table w-100">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Disabled</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Dynamically Generated -->
                                    </tbody>
                                </table>
                            </div>

                            <!-- Manage Tab -->
                            <div class="fade w-100 d-none" id="rerankProviderManagerModelManageTab">
                                <!-- Manager Inner Tabs (Simplified) -->
                                <div class="d-flex flex-row align-items-center justify-content-between mb-3">
                                    <ul class="nav" id="rerank-provider-model-manager-inner-tab" role="tablist">
                                        <li class="nav-item me-2" role="presentation">
                                            <button class="nav-link active" id="rerank-provider-model-manager-general-tab" data-bs-toggle="pill" data-bs-target="#rerank-provider-model-manager-general" type="button" role="tab" aria-controls="rerank-provider-model-manager-general" aria-selected="true">General</button>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Tab Content -->
                                <div class="tab-content" id="rerank-provider-model-manager-manage-tab-content">
                                    <!-- General -->
                                    <div class="tab-pane fade w-100 show active" id="rerank-provider-model-manager-general" role="tabpanel" aria-labelledby="rerank-provider-model-manager-general-tab" tabindex="0">
                                        <div class="mb-3">
                                            <label class="form-label" for="manageRerankProviderModelIdInput">Identifer</label>
                                            <input type="text" class="form-control" id="manageRerankProviderModelIdInput" placeholder="Model Identifer">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="manageRerankProviderModelNameInput">Name</label>
                                            <input type="text" class="form-control" id="manageRerankProviderModelNameInput" placeholder="Model Name">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Price / Token Unit</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" placeholder="Price" id="manageRerankProviderModelPriceInput" step="0.000001">
                                                <span class="input-group-text">/</span>
                                                <input type="number" class="form-control" placeholder="For x Tokens" id="manageRerankProviderModelPriceTokensInput">
                                            </div>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input" type="checkbox" role="switch" id="manageRerankProviderModelDisabledInput" checked>
                                            <label class="form-check-label" for="manageRerankProviderModelDisabledInput">Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Integrations -->
                        <div class="tab-pane fade w-100" id="rerank-provider-manager-integrations" role="tabpanel" aria-labelledby="rerank-provider-manager-integrations-tab" tabindex="0">
                            <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                <div style="min-width: 200px" class="me-4">
                                    <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewRerankProviderIntegrationFieldButton">
                                        <span>+ Add New Field</span>
                                    </button>
                                </div>
                                <div class="input-group w-100">
                                    <input type="text" class="form-control" placeholder="Search Field" aria-label="Search Field" aria-describedby="searchRerankProviderIntegrationFieldButton">
                                    <button class="input-group-button btn btn-primary" id="searchRerankProviderIntegrationFieldButton">
                                        <i class='fa-regular fa-magnifying-glass'></i>
                                    </button>
                                </div>
                            </div>
                            <div id="rerankProviderIntegrationFieldsList">
                                <!-- Fields will be dynamically added here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
