<!-- Bussiness Container -->
<div class="main-container fade show w-100" id="business-tab">
    <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-briefcase'></i> <span>Businesses</span></h3>
    <div class="inner-container">
        <div class="mb-4 d-flex flex-row align-items-center justify-content-between" id="businessesListActions">
            <button id="AddNewBusinessButton" style="min-width: 200px" class="mb-0 text-decoration-none fw-bold btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#addNewBusinessModal" disabled>
                <span>+ Add New Business</span>
            </button>
            <div class="search-input-container">
                <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name" id="searchBusinessInput">
                <i class="fa-solid fa-magnifying-glass search-box-icon"></i>
                <button class="search-clear-btn btn btn-danger d-none" type="button" title="Clear search">
                    <i class="fa-solid fa-times"></i>
                </button>
            </div>
        </div>
        <div class="row" id="BusinessesList">
            <!-- Dynamically Generated -->
        </div>
    </div>
</div>

<!-------------------

        MODALS

--------------------->
<!-- Add New Business Modal -->
<div class="modal modal-lg fade" id="addNewBusinessModal" tabindex="-1" aria-labelledby="addNewBusinessModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewBusinessModalLabel">Add New Business</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="addNewBusinessNameInput" class="form-label">Name</label>
                    <input type="text" class="form-control" id="addNewBusinessNameInput" placeholder="Business Name">
                </div>
                <div class="mb-3">
                    <label for="addNewBusinessLogoInput" class="form-label d-block">Logo</label>
                    <img src="~/img/picture_placeholder_light.png" class="rounded-3 image-fluid" id="addNewBusinessLogoPreview">
                    <input type="file" class="form-control d-none" id="addNewBusinessLogoInput" accept="image/png, image/gif, image/jpeg, image/webp">
                </div>
                <div>
                    <label for="addNewBusinessDefaultLanguageSelect" class="form-label">Default Language</label>
                    <select class="form-select" id="addNewBusinessDefaultLanguageSelect">
                        <option value="none" selected disabled>Select Language</option>
                        <!-- Dynamically Generated -->
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ic-span-align" id="addNewBusinessButton" disabled>
                    <i class="fa-regular fa-plus"></i>
                    <span>Add</span>
                    <div class="spinner-border save-button-spinner d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>