<div class="main-container fade d-none w-100" id="make-calls-tab">
    <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-phone-arrow-up-right'></i> <span>Make Calls</span></h3> <!-- Changed Icon -->
    <div class="inner-header-container mb-3">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <ul class="nav" id="make-call-simple-tab" role="tablist">
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link active" id="make-call-configuration-tab-btn" data-bs-toggle="pill" data-bs-target="#make-call-configuration" type="button" role="tab" aria-controls="make-call-configuration" aria-selected="true">Configuration</button>
                </li>
            </ul>
            <!-- Added Reset Button (Optional) -->
            <div class="d-flex">
                <button class="btn btn-outline-secondary btn-ic-span-align me-2" id="makeCallResetButton">
                    <i class='fa-regular fa-arrows-rotate'></i>
                    <span> Reset</span>
                </button>
                <button class="btn btn-primary btn-ic-span-align" id="makeCallInitiateButton">
                    <!-- Added Spinner -->
                    <span class="spinner-border spinner-border-sm d-none me-1" role="status" aria-hidden="true"></span>
                    <i class='fa-regular fa-phone'></i>
                    <span> Initiate Call</span>
                </button>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="tab-content w-100" id="make-call-tabContent">
            <!-- General -->
            <div class="tab-pane fade w-100 show active" id="make-call-configuration" role="tabpanel" aria-labelledby="make-call-configuration-tab-btn" tabindex="0">
                
                <div class="mb-3">
                    <label class="form-label" for="editSelectedMakeCallCampaign">
                        Campaign
                    </label>
                    <div class="input-group">
                        <span class="input-group-text" id="editSelectedMakeCallCampaignIcon">-</span>
                        <input type="text" class="form-control" id="editSelectedMakeCallCampaign" placeholder="Select Campaign" disabled>
                        <button class="btn btn-primary" id="editChangeMakeCallCampaignButton" data-bs-toggle="modal" data-bs-target="#editChangeMakeCallCampaignModal">
                            Select
                        </button>
                    </div>
                </div>
                
                <div class="card card-body mb-3">
                    <div class="">
                        <label class="form-label btn-ic-span-align" for="editMakeCallTypeInput">
                            <span>Call Type </span>
                            <a href="#" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Choose 'Single' to call one number directly, or 'Bulk' to upload a CSV file for multiple calls.">
                                <i class="fa-regular fa-circle-question"></i>
                            </a>
                        </label>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-3">
                                <div class="make-call-type-box-choose active" box-type="single">
                                    <div class="info-icon">
                                        <i class="fa-regular fa-user"></i>
                                    </div>
                                    <div class="info-data">
                                        <h4>Single</h4>
                                        <p>Call only a single number</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <div class="make-call-type-box-choose" box-type="bulk">
                                    <div class="info-icon">
                                        <i class="fa-regular fa-user-group"></i>
                                    </div>
                                    <div class="info-data">
                                        <h4>Bulk</h4>
                                        <p>Call in bulk with a CSV file</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Number Container -->
                    <div class="show fade" id="make-call-number-single-container">
                        <div class="">
                            <label class="form-label" for="makeCallToNumberInput">Call To Number</label>
                            <input type="tel" class="form-control" id="makeCallToNumberInput" placeholder="Enter number with country code (e.g., +1xxxxxxxxx)"> <!-- Changed type to tel -->
                        </div>
                    </div>

                    <!-- Bulk Number Container -->
                    <div class="d-none fade" id="make-call-number-bulk-container">
                        <div class="">
                            <label class="form-label btn-ic-span-align" for="makeCallToNumberBulkInput">
                                <span>Numbers CSV File </span>
                                <a class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Upload a CSV File. Must contain a 'to_number' column. Optionally include columns for 'from_number', 'identifier', 'description', 'agent_id', 'script_id', 'timezone' to override defaults.">
                                    <i class='fa-regular fa-circle-question'></i>
                                </a>
                                <a href="/path/to/sample/bulk_call_template.csv" download="bulk_call_template.csv" class="d-inline-block ms-2 small">(Download Template)</a> <!-- Add Template Link -->
                            </label>
                            <input type="file" class="form-control" id="makeCallToNumberBulkInput" accept=".csv">
                        </div>
                    </div>

                </div>
                
                <!-- Schedule / Call Now -->
                <div class="mb-3 card card-body">
                    <div class="mb-2" id="makeCallScheduleDateTimeContainer">
                        <label class="form-label" for="makeCallScheduleDateTimeInput">Schedule Date & Time</label>
                        <input type="datetime-local" class="form-control" id="makeCallScheduleDateTimeInput">
                    </div>

                    <div class="mt-1" id="makeCallMaxScheduleDateTimeContainer">
                        <label class="form-label btn-ic-span-align" for="makeCallMaxScheduleDateTimeInput">
                            <span>Max Schedule Date & Time Try</span>
                            <a href="#" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="The max time to attempt to initiate the call(s) in case they had been delayed to initiate due to any factor (usually not enough call cocurrency).">
                                <i class="fa-regular fa-circle-question"></i>
                            </a>
                        </label>
                        <input type="datetime-local" class="form-control" id="makeCallMaxScheduleDateTimeInput">
                    </div>
                </div>
            
                <div class="card card-body mb-3">
                    <div class="">
                        <label class="form-label" id="makeCallDynamicVariablesSelectLabel" for="makeCallDynamicVariablesSelect">Dynamic Variables</label>
                        <div class="input-group mb-2">
                            <select class="form-select" id="makeCallDynamicVariablesSelect">
                                <!-- Dynamically Added -->
                            </select>
                            <button class="btn btn-primary" type="button" id="makeCallDynamicVariablesSelectAddButton">Add</button>
                        </div>
                        <div id="makeCallDynamicVariablesList">
                            <!-- Dynamically Added -->
                        </div>
                    </div>
                </div>

                <div class="card card-body">
                    <div class="">
                        <label class="form-label" id="makeCallMetadataSelectLabel" for="makeCallMetadataSelect">Metadata</label>
                        <div class="input-group mb-2">
                            <select class="form-select" id="makeCallMetadataSelect">
                                <!-- Dynamically Added -->
                            </select>
                            <button class="btn btn-primary" type="button" id="makeCallMetadataSelectAddButton">Add</button>
                        </div>
                        <div id="makeCallMetadataList">
                            <!-- Dynamically Added -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Change Make Call Campaign Modal -->
    <div class="modal fade" id="editChangeMakeCallCampaignModal" tabindex="-1" aria-labelledby="editChangeMakeCallCampaignModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editChangeMakeCallCampaignModalLabel">Select Campaign</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="inputMakeCallSelectCampaignSearch" placeholder="Search Campaign Name...">
                        <button class="btn btn-primary" id="searchMakeCallSelectCampaignList">
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="list-group" id="make-call-select-campaign-modal-list">
                        <!-- Dynamically Generated -->
                        <span class="list-group-item">No campaigns created yet.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveMakeCallCampaignButton" disabled>
                        Select Campaign
                    </button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- End Make Calls Container -->
