<div class="main-container fade w-100 d-none" id="settings-tab">
    <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-gear nav_icon'></i> <span>Settings</span></h3>
    <div class="inner-header-container mb-3">
        <!-- Tabs Buttons -->
        <div class="d-flex flex-row align-items-center justify-content-between fade show w-100" id="settings-inner-tab-container">
            <ul class="nav" id="settings-inner-tab" role="tablist">
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link active" id="settings-inner-general-tab" data-bs-toggle="pill" data-bs-target="#settings-inner-general" type="button" role="tab" aria-controls="settings-inner-general" aria-selected="true">General</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link" id="settings-inner-languages-tab" data-bs-toggle="pill" data-bs-target="#settings-inner-languages" type="button" role="tab" aria-controls="settings-inner-languages" aria-selected="true">Languages</button>
                </li>
            </ul>
            <button class="btn btn-primary btn-ic-span-align" id="settingsSaveButton" disabled>
                <i class="fa-regular fa-floppy-disk"></i>
                <span> Save</span>
                <div class="spinner-border save-button-spinner d-none" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </div>
    </div>
    <div class="inner-container" has-header="true">
        <!-- Tabs Content -->
        <div class="tab-content w-100" id="settings-inner-tabContent">
            <!-- General -->
            <div class="tab-pane fade w-100 show active" id="settings-inner-general" role="tabpanel" aria-labelledby="settings-inner-general-tab" tabindex="0">
                <div class="mb-3">
                    <label class="form-label" for="settingsGeneralBusinessName">Business Name</label>
                    <input type="text" class="form-control" id="settingsGeneralBusinessName" placeholder="Business Name">
                </div>
                <div class="mb-3">
                    <label class="form-label d-block" for="settingsGeneralBusinessLogo">Business Logo</label>
                    <img src="~/img/logo/Badal-Logo-Light.png" class="img-fluid rounded-3" alt="Business Logo" id="settingsGeneralBusinessLogoPreview">
                    <input type="file" class="form-control d-none" id="settingsGeneralBusinessLogo" accept="image/png, image/jpeg, image/webp, image/gif">
                </div>
            </div>
            <!-- Languages -->
            <div class="tab-pane fade w-100" id="settings-inner-languages" role="tabpanel" aria-labelledby="settings-inner-languages-tab" tabindex="0">
                <div class="mb-3">
                    <label class="form-label" for="settingsLanguageAddSelect">Added Languages</label>
                    <div class="input-group">
                        <select class="form-select" id="settingsLanguageAddSelect">
                            <option value="none" selected disabled>Select Language</option>
                        </select>
                        <button class="btn btn-light" type="button" id="settingsLanguageAddButton" disabled>Add</button>
                    </div>
                </div>
                <table id="settingsAddedLanguagesList" class="table w-100">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Language</th>
                            <th scope="col">Is Default?</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamically Generated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>