@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
     --header-height: 3rem;
     --nav-width: 68px;
     --first-color: #4723D9;
     --first-color-light: #bebebe;
     --white-color: #F7F6FB;
     --body-font: 'Roboto', sans-serif;
     --normal-font-size: 1rem;
     --z-fixed: 100;
     --nav-show-width: 200px;

     --body-padding: 2em;

     --logo-margin-bottom: 2em;
}

[data-bs-theme=dark]
{
     --bs-body-bg: #1a1a1a !important;
}

body {
     position: relative;
     margin: var(--header-height) 0 0 0;
     padding: 0;
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
     transition: .5s
}

.l-navbar a {
     text-decoration: none
}

.header {
     width: 100%;
     height: var(--header-height);
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0;
     padding-right: var(--body-padding);
     z-index: var(--z-fixed);
     transition: .5s;
     backdrop-filter: blur(6px)
}

.header_toggle {
     color: var(--white-color);
     font-size: 1.5rem;
     cursor: pointer
}

.l-navbar {
     position: fixed;
     top: 0;
     left: -30%;
     width: var(--nav-width);
     min-height: 100vh;
     padding: .5rem 1rem 0 0;
     transition: .5s;
     z-index: var(--z-fixed);
     border-right: 1px solid rgb(78, 78, 78);
     overflow-x: hidden;
}

.l-navbar .nav {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     overflow: hidden;
     width: inherit;
}

.l-navbar .nav .nav_link {
     display: grid;
     grid-template-columns: max-content max-content;
     align-items: center;
     column-gap: 1rem;
     padding: .5rem 0 .5rem 1.5rem
}


.l-navbar .nav .nav_logo {
     padding: .5rem 0 .5rem .7em;
     display: block;
}

.l-navbar .nav .nav_logo
{
     margin-top: var(--logo-margin-bottom);
}

.l-navbar .nav .nav_logo {
     margin-bottom: var(--logo-margin-bottom);
}

.l-navbar .nav .nav_logo img {
     height: 50px;
     transition: 450ms all, 450ms transform, 900ms rotate, 700ms filter;
     rotate: 0deg;
}

.l-navbar:not(.show) .nav .nav_logo img:hover {
     rotate: 360deg;
}

.l-navbar.show .nav .nav_logo img:hover {
     transform: scale(3.2);
     filter: drop-shadow(0px 0px 5px #93b44791);
}

.l-navbar.show .nav .nav_logo img {
     transform: scale(3);
     padding-left: 2.5em;
     margin-top: 2em;
     margin-bottom: 2em;
}

.l-navbar .nav .nav_logo-icon {
     font-size: 1.25rem;
     color: var(--white-color)
}

.l-navbar .nav .nav_logo-name {
     color: var(--white-color);
     font-weight: 700;
     font-size: 45px;
     text-align: center;
}

.l-navbar .nav .nav_link {
     position: relative;
     color: var(--first-color-light);
     margin-bottom: 10px;
     transition: .3s;
     border: 1px solid transparent;
}

.l-navbar .nav .nav_link.disabled {
     color: var(--first-color-light);
     opacity: 0.7;
     cursor: default;
}

.l-navbar .nav .nav_link:hover {
     color: var(--white-color)
}

.l-navbar .nav .nav_icon {
     font-size: 1.25rem
}

.l-navbar.show {
     left: 0
}

.l-navbar .nav_link.active {
     border-color: var(--tcolor-light-green) !important;
}

.l-navbar .nav_link.active .nav_name,
.l-navbar .nav_link.active .nav_icon {
     color: var(--tcolor-light-green) !important;
}

.l-navbar .nav_link.active:before {
     background-color: var(--tcolor-light-green) !important;
}

.l-navbar .nav_link:not(.active):not(.disabled):hover .nav_name,
.l-navbar .nav_link:not(.active):not(.disabled):hover .nav_icon {
     color: var(--tcolor-lighter-green) !important;
}

.body-pd {
     padding-left: calc(var(--nav-width) + 1rem)
}

.l-navbar .nav_link.active {
     color: var(--white-color);
     border: 1px solid white;
     border-right: none;
}

.l-navbar .nav_link.active::before {
     content: '';
     position: absolute;
     left: 0;
     width: 2px;
     height: 40px;
     background-color: var(--white-color)
}

.main-container-wrapper {
     padding: var(--body-padding);
     padding-top: 1.5em;
}

.inner-container {
     padding: var(--body-padding);
     border: 1px solid rgb(78, 78, 78);
     border-radius: 12px;
     background-color: #2a2a2a;
     height: -webkit-fill-available;
}

.nav_name,
.nav_logo-name {
     padding-left: 1rem;
     transition: padding-left 250ms, opacity 250ms;
     transition-delay: padding-left 300ms, opacity 100ms !;
     opacity: 0;
}

.l-navbar.show .nav_name,
.l-navbar.show .nav_logo-name {
     padding-left: 0;
     transition: padding-left 10ms, opacity 300ms;
     transition-delay: padding-left 10ms, opacity 10ms;
     opacity: 1;
}

.nav-category-label {
     padding: 0em calc(1em + 24px);
     opacity: 0;
     transition: all 250ms, font-size 500ms, padding 1000ms;
     font-size: 0px;
}

.l-navbar.show .nav-category-label {
     padding: 0em 1em;
     opacity: 0.3;
     font-size: 16px;
     transition: all 250ms, font-size 500ms, padding 300ms;
}

@media screen and (max-width: 768px) {
     :root {
          --body-padding: 1em;
     }

     .header {
          padding-left: var(--body-padding);
     }

     .header-body-pd {
          padding-left: calc(var(--nav-width) + var(--body-padding));
     }

     .body-pd {
          padding-left: calc(var(--nav-width))
     }

     .nav_name,
     .nav_logo-name {
          padding-left: 1rem !important;
          transition: 0ms!important;
          transition-delay: 0ms!important;
          opacity: 0!important;
     }

     .l-navbar.show .nav .nav_logo {
          margin-top: 1.2em;
          margin-bottom: 1.2em;
     }

     .l-navbar.show .nav .nav_logo img {
          transform: scale(1);
          padding-left: 0;
          margin-top: 0;
          margin-bottom: 0;
     }

     .l-navbar.show .nav .nav_logo img:hover {
          transform: scale(1);
          rotate: 360deg;
          filter: none;
     }
}

@media screen and (min-width: 768px) {
     body {
          margin: calc(var(--header-height) + 1rem) 0 0 0;
          padding-left: var(--nav-width);
     }

     .header {
          height: calc(var(--header-height) + 1rem);
          padding-left: calc(var(--nav-width) + var(--body-padding));
     } 

     .l-navbar {
          left: 0;
          padding: 0;
     }

     .l-navbar.show {
          width: calc(var(--nav-width) + var(--nav-show-width))
     }

     .body-pd {
          padding-left: calc(var(--nav-width) + var(--nav-show-width))
     }

     .header-body-pd {
          padding-left: calc(var(--nav-width) + var(--nav-show-width) + var(--body-padding));
     }
}