<div class="main-container fade d-none w-100" id="integrations-tab">
    <h3 class="fw-bold tab-title mb-3"><i class='fa-regular fa-plug'></i> <span>Integrations</span></h3>

    <div class="inner-container">
        <!-- Add Integration and Search Section -->
        <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
            <div style="min-width: 300px" class="me-4">
                <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewIntegrationButton">
                    <span>+ Add New Integration</span>
                </button>
            </div>
            <div class="input-group w-100">
                <input type="text" class="form-control" placeholder="Search Integration" aria-label="Search Integration">
                <button class="input-group-button btn btn-primary">
                    <i class='fa-regular fa-magnifying-glass'></i>
                </button>
            </div>
        </div>

        <!-- Integrations List -->
        <div class="row" id="integrationsListContainer">
            <!-- Integration cards will be added here dynamically -->
        </div>
    </div>
</div>