<div class="main-container fade d-none w-100" id="knowledge-base-tab">
    <h3 class="fw-bold tab-title"><i class='fa-regular fa-database'></i> <span>Knowledge Base</span></h3>
    <div class="inner-container">
        <h6>Ah! This page is currently under development.</h6>
    </div>
</div>