<!-- WEB CAMPAIGNS TAB -->
<div class="main-container d-none show w-100" id="web-campaigns-tab">

    <!-- Header -->
    <h3 class="fw-bold tab-title mb-3"><i class='fa-solid fa-globe'></i> <span>Web Campaigns</span></h3>
    <div class="inner-header-container w-100 mb-3 fade d-none" id="web-campaigns-header-container">
        <div class="d-flex flex-column align-items-start justify-content-between">
            <div class="mb-4 d-flex flex-row align-items-center justify-content-between w-100">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="#" id="back-to-web-campaigns-list">Web Campaigns</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><span id="web-campaign-manager-name-breadcrumb">New Campaign</span></li>
                    </ol>
                </nav>
                <div>
                    <button class="btn btn-primary btn-sm btn-ic-span-align" id="save-web-campaign-button" disabled>
                        <i class='fa-regular fa-floppy-disk'></i>
                        <span> Save</span>
                    </button>
                </div>
            </div>

            <!-- Tab Navigation for Web Campaign Manager -->
            <ul class="nav w-100" id="web-campaign-manager-tabs" role="tablist">
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link active" id="web-campaign-manager-general-tab" data-bs-toggle="pill" data-bs-target="#web-campaign-manager-general" type="button" role="tab" aria-controls="web-campaign-manager-general" aria-selected="true">General</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link" id="web-campaign-manager-agent-tab" data-bs-toggle="pill" data-bs-target="#web-campaign-manager-agent" type="button" role="tab" aria-controls="web-campaign-manager-agent" aria-selected="false">Agent</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link" id="web-campaign-manager-configuration-tab" data-bs-toggle="pill" data-bs-target="#web-campaign-manager-configuration" type="button" role="tab" aria-controls="web-campaign-manager-configuration" aria-selected="false">Configuration</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link" id="web-campaign-manager-variables-tab" data-bs-toggle="pill" data-bs-target="#web-campaign-manager-variables" type="button" role="tab" aria-controls="web-campaign-manager-variables" aria-selected="false">Variables</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link" id="web-campaign-manager-post-analysis-tab" data-bs-toggle="pill" data-bs-target="#web-campaign-manager-post-analysis" type="button" role="tab" aria-controls="web-campaign-manager-post-analysis" aria-selected="false">Post Analysis</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="web-campaign-manager-actions-tab" data-bs-toggle="pill" data-bs-target="#web-campaign-manager-actions" type="button" role="tab" aria-controls="web-campaign-manager-actions" aria-selected="false">Actions</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="inner-container">
        <!-- WEB CAMPAIGNS: LIST VIEW -->
        <div class="fade show" id="web-campaigns-list-view">
            <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                <div style="min-width: 300px" class="me-4">
                    <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="add-new-web-campaign-button">
                        <span>+ Add New Web Campaign</span>
                    </button>
                </div>
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Search web campaigns..." aria-label="Search Web Campaigns" id="search-web-campaign-input">
                    <button class="input-group-button btn btn-primary" id="search-web-campaign-button">
                        <i class='fa-regular fa-magnifying-glass'></i>
                    </button>
                </div>
            </div>
            <div class="row" id="web-campaigns-list-container">
                <!-- Dynamically Generated Web Campaign Cards will be loaded here -->
            </div>
        </div>

        <!-- WEB CAMPAIGNS: MANAGER VIEW -->
        <div class="fade d-none" id="web-campaigns-manager-view">
            <!-- Manager Content -->
            <div class="tab-content w-100" id="web-campaign-manager-tabContent">
                <!-- General Tab -->
                <div class="tab-pane fade show active w-100" id="web-campaign-manager-general" role="tabpanel" aria-labelledby="web-campaign-manager-general-tab" tabindex="0">
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-name-input">Name</label>
                        <div class="input-group">
                            <button class="btn btn-light" id="web-campaign-icon-input">🌐</button>
                            <input type="text" class="form-control" id="web-campaign-name-input" placeholder="Campaign Name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-description-input">Description</label>
                        <textarea class="form-control" id="web-campaign-description-input" placeholder="A brief description of the campaign's purpose." rows="3"></textarea>
                    </div>
                </div>

                <!-- Agent Tab -->
                <div class="tab-pane fade w-100" id="web-campaign-manager-agent" role="tabpanel" aria-labelledby="web-campaign-manager-agent-tab" tabindex="0">
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-agent-name-input">Campaign Agent</label>
                        <div class="input-group">
                            <span class="input-group-text" id="web-campaign-agent-icon-span">-</span>
                            <input type="text" class="form-control" id="web-campaign-agent-name-input" placeholder="Select Agent" disabled>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#web-campaign-select-agent-modal">Select</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-agent-script-select">Opening Script</label>
                        <select class="form-select" id="web-campaign-agent-script-select" disabled></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-agent-language-select">Language</label>
                        <select class="form-select" id="web-campaign-agent-language-select"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-agent-timezone-select">Timezone</label>
                        <select class="form-select" id="web-campaign-agent-timezone-select">
                            <option value="" selected disabled>Select Timezone</option>
                            <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                            <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                            <option value="-10:00">(GMT -10:00) Hawaii</option>
                            <option value="-09:50">(GMT -9:30) Taiohae</option>
                            <option value="-09:00">(GMT -9:00) Alaska</option>
                            <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                            <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                            <option value="-06:00">
                                (GMT -6:00) Central Time (US &amp; Canada), Mexico
                                City
                            </option>
                            <option value="-05:00">
                                (GMT -5:00) Eastern Time (US &amp; Canada), Bogota,
                                Lima
                            </option>
                            <option value="-04:50">(GMT -4:30) Caracas</option>
                            <option value="-04:00">
                                (GMT -4:00) Atlantic Time (Canada), Caracas, La Paz
                            </option>
                            <option value="-03:50">(GMT -3:30) Newfoundland</option>
                            <option value="-03:00">
                                (GMT -3:00) Brazil, Buenos Aires, Georgetown
                            </option>
                            <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                            <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                            <option value="+00:00">
                                (GMT 0/UTC) Western Europe Time,
                                London, Lisbon, Casablanca
                            </option>
                            <option value="+01:00">
                                (GMT +1:00) Brussels, Copenhagen, Madrid, Paris
                            </option>
                            <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                            <option value="+03:00">
                                (GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg
                            </option>
                            <option value="+03:50">(GMT +3:30) Tehran</option>
                            <option value="+04:00">
                                (GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi
                            </option>
                            <option value="+04:50">(GMT +4:30) Kabul</option>
                            <option value="+05:00">
                                (GMT +5:00) Ekaterinburg, Islamabad, Karachi,
                                Tashkent
                            </option>
                            <option value="+05:50">
                                (GMT +5:30) Bombay, Calcutta, Madras, New Delhi
                            </option>
                            <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                            <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                            <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                            <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="+08:00">
                                (GMT +8:00) Beijing, Perth, Singapore, Hong Kong
                            </option>
                            <option value="+08:75">(GMT +8:45) Eucla</option>
                            <option value="+09:00">
                                (GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk
                            </option>
                            <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                            <option value="+10:00">
                                (GMT +10:00) Eastern Australia, Guam, Vladivostok
                            </option>
                            <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                            <option value="+11:00">
                                (GMT +11:00) Magadan, Solomon Islands, New Caledonia
                            </option>
                            <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                            <option value="+12:00">
                                (GMT +12:00) Auckland, Wellington, Fiji, Kamchatka
                            </option>
                            <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                            <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                            <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                        </select>
                    </div>
                </div>

                <!-- Configuration Tab -->
                <div class="tab-pane fade w-100" id="web-campaign-manager-configuration" role="tabpanel" aria-labelledby="web-campaign-manager-configuration-tab" tabindex="0">
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-silence-notify-input">Notify on silence (ms)</label>
                        <input type="number" class="form-control" id="web-campaign-silence-notify-input" value="10000">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-silence-end-input">End conversation on silence (ms)</label>
                        <input type="number" class="form-control" id="web-campaign-silence-end-input" value="30000">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-max-conversation-time-input">Max conversation time (s)</label>
                        <input type="number" class="form-control" id="web-campaign-max-conversation-time-input" value="600">
                    </div>
                </div>

                <!-- Variables Tab -->
                <div class="tab-pane fade w-100" id="web-campaign-manager-variables" role="tabpanel" aria-labelledby="web-campaign-manager-variables-tab" tabindex="0">
                    <div class="mb-3">
                        <label class="form-label d-block">Dynamic Variables</label>
                        <button class="btn btn-light btn-sm m-0 mb-2" id="addWebCampaignDynamicVariable">
                            <span>Add Dynamic Variable</span>
                        </button>
                        <div id="webCampaignDynamicVariablesList">
                        </div>
                    </div>
                    <div>
                        <label class="form-label d-block">Metadata</label>
                        <button class="btn btn-light btn-sm m-0 mb-2" id="addWebCampaignMetadata">
                            <span>Add Metadata</span>
                        </button>
                        <div id="webCampaignMetadataList">
                        </div>
                    </div>
                </div>

                <!-- Post Analysis Tab -->
                <div class="tab-pane fade w-100" id="web-campaign-manager-post-analysis" role="tabpanel" aria-labelledby="web-campaign-manager-post-analysis-tab" tabindex="0">
                    <div class="mb-3">
                        <label class="form-label" for="webCampaignPostAnalysisTemplateSelect">Post Analysis</label>
                        <select class="form-select" id="webCampaignPostAnalysisTemplateSelect">
                            <!-- Dynamically Generated -->
                        </select>
                    </div>
                    <div>
                        <label class="form-label d-block">Context Variables</label>
                        <button class="btn btn-light btn-sm m-0 mb-2" id="addWebCampaignPostAnalysisVariable" disabled>
                            <span>Add Context Variable</span>
                        </button>
                        <div id="webCampaignPostAnalysisVariablesList">
                            <!-- Dynamically Generated -->
                        </div>
                    </div>
                </div>

                <!-- Actions Tab -->
                <div class="tab-pane fade w-100" id="web-campaign-manager-actions" role="tabpanel" aria-labelledby="web-campaign-manager-actions-tab" tabindex="0">
                    <!-- On Conversation Initiation Failure Action -->
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-action-tool-conversation-initiation-failure-select">On Conversation Initiation Failure Action</label>
                        <select class="form-select" id="web-campaign-action-tool-conversation-initiation-failure-select"></select>
                        <div class="custom-tool-input-arguments d-none p-3 border rounded bg-dark">
                            <label class="form-label d-block" for="web-campaign-action-tool-conversation-initiation-failure-arguments-select">Input Arguments</label>
                            <select class="form-select mb-2" id="web-campaign-action-tool-conversation-initiation-failure-arguments-select">
                                <option value="" selected disabled>Add Input Argument</option>
                            </select>
                            <div class="mt-1" id="web-campaign-action-tool-conversation-initiation-failure-arguments-list"></div>
                        </div>
                    </div>
                    <!-- On Conversation Initiated Action -->
                    <div class="mb-3">
                        <label class="form-label" for="web-campaign-action-tool-conversation-initiated-select">On Conversation Initiated Action</label>
                        <select class="form-select" id="web-campaign-action-tool-conversation-initiated-select"></select>
                        <div class="custom-tool-input-arguments d-none p-3 border rounded bg-dark">
                            <label class="form-label d-block" for="web-campaign-action-tool-conversation-initiated-arguments-select">Input Arguments</label>
                            <select class="form-select mb-2" id="web-campaign-action-tool-conversation-initiated-arguments-select">
                                <option value="" selected disabled>Add Input Argument</option>
                            </select>
                            <div class="mt-1" id="web-campaign-action-tool-conversation-initiated-arguments-list"></div>
                        </div>
                    </div>
                    <!-- On Conversation Ended Action -->
                    <div class="">
                        <label class="form-label" for="web-campaign-action-tool-conversation-ended-select">On Conversation Ended Action</label>
                        <select class="form-select" id="web-campaign-action-tool-conversation-ended-select"></select>
                        <div class="custom-tool-input-arguments d-none p-3 border rounded bg-dark">
                            <label class="form-label d-block" for="web-campaign-action-tool-conversation-ended-arguments-select">Input Arguments</label>
                            <select class="form-select mb-2" id="web-campaign-action-tool-conversation-ended-arguments-select">
                                <option value="" selected disabled>Add Input Argument</option>
                            </select>
                            <div class="mt-1" id="web-campaign-action-tool-conversation-ended-arguments-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALS -->
    <div class="modal fade" id="web-campaign-select-agent-modal" tabindex="-1" aria-labelledby="web-campaign-select-agent-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="web-campaign-select-agent-modal-label">Select Agent</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Agent Selection List -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="web-campaign-save-agent-button" disabled>Select Agent</button>
                </div>
            </div>
        </div>
    </div>
</div>