<html data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard | Iqra AI</title>

    <link href="~/libs/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/libs/boxicons-2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web/css/regular.min.css" rel="stylesheet">

    <link href="~/css/structure.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico">

    <style>

    </style>

    <style id="dynamicCSS"></style>
</head>

<body id="body-pd" class="body-pd">
    <header class="header header-body-pd" id="header">
        <div class="header_toggle"> <i class='fa-regular fa-bars fa-bars' id="header-toggle"></i> </div>
    </header>

    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div class="upper-navigation">
                <a href="/" class="nav_logo">
                    <img class="nav_logo-icon" src="~/img/logo/logo-colored-light.png">
                </a>
                <div class="nav_list">
                    <a href="#" class="nav_link active" for="users-tab">
                        <i class='fa-regular fa-user nav_icon'></i>
                        <span class="nav_name">Users</span>
                    </a>
                    <a href="#" class="nav_link" for="business-tab">
                        <i class='fa-regular fa-briefcase nav_icon'></i>
                        <span class="nav_name">Businesses</span>
                    </a>
                    <a href="#" class="nav_link" for="phone-numbers-tab">
                        <i class='fa-regular fa-hashtag nav_icon'></i>
                        <span class="nav_name">Numbers</span>
                    </a>
                    <a href="#" class="nav_link" for="billing-tab">
                        <i class='fa-regular fa-credit-card nav_icon'></i>
                        <span class="nav_name">Billing</span>
                    </a>
                    <a href="#" class="nav_link mb-0" for="settings-tab">
                        <i class='fa-regular fa-gear nav_icon'></i>
                        <span class="nav_name">Settings</span>
                    </a>
                </div>
            </div>
            <div class="bottom-navigation">
                <a href="/logout" class="nav_link mt-0">
                    <i class='fa-regular fa-right-from-bracket nav_icon'></i>
                    <span class="nav_name">Log out</span>
                </a>
            </div>

        </nav>
    </div>

    <div class="w-100 main-container-wrapper" id="tabs-list">
        <!-- Users Container -->
        <div class="main-container fade show w-100" id="business-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-user'></i> <span>Users</span></h3>
            <div class="inner-container">
                <!-- Manager Inner Tabs -->
                <ul class="nav mb-3" id="users-tab" role="tablist">
                    <li class="nav-item me-2" role="presentation">
                        <button class="nav-link" id="users-analytics-tab" data-bs-toggle="pill" data-bs-target="#users-analytics" type="button" role="tab" aria-controls="users-analytics" aria-selected="true">Analytics</button>
                    </li>
                    <li class="nav-item me-2" role="presentation">
                        <button class="nav-link active" id="users-list-tab" data-bs-toggle="pill" data-bs-target="#users-list" type="button" role="tab" aria-controls="users-list" aria-selected="true">List</button>
                    </li>
                </ul>

                <div class="tab-content w-100" id="users-tabContent">
                    <!-- Analytics -->
                    <div class="tab-pane fade w-100" id="users-analytics" role="tabpanel" aria-labelledby="users-analytics-tab" tabindex="0">
                        analytics
                    </div>

                    <!-- List -->
                    <div class="tab-pane fade w-100 show active" id="users-list" role="tabpanel" aria-labelledby="users-list-tab" tabindex="0">
                        <!-- Users List Table Tab -->
                        <div class="fade d-none w-100" id="usersListTableTab">
                            <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                <div style="min-width: 200px" class="me-4">
                                    <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewUserButton">
                                        <span>+ Add New User</span>
                                    </button>
                                </div>
                                <div class="input-group w-100">
                                    <input type="text" class="form-control" placeholder="User Name or Email" aria-label="User Name or Email" aria-describedby="searchUserButton">
                                    <button class="input-group-button btn btn-primary" id="searchAgentScriptButton">
                                        <i class='fa-regular fa-magnifying-glass'></i>
                                    </button>
                                </div>
                            </div>
                            <table id="usersListTable" class="table w-100">
                                <thead>
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Businesses</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Dynamically Generated -->
                                </tbody>
                            </table>
                        </div>
                        <!-- Users Manage Tab -->
                        <div class="fade w-100 show" id="usersManageTab">
                            <div class="mb-3 d-flex flex-row align-items-center justify-content-between">
                                <ul class="nav" id="users-manage-tab" role="tablist">
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link active" id="users-manage-general-tab" data-bs-toggle="pill" data-bs-target="#users-manage-general" type="button" role="tab" aria-controls="users-manage-general" aria-selected="true">General</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-actions-tab" data-bs-toggle="pill" data-bs-target="#users-manage-actions" type="button" role="tab" aria-controls="users-manage-actions" aria-selected="true">Actions</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-permissions-tab" data-bs-toggle="pill" data-bs-target="#users-manage-permissions" type="button" role="tab" aria-controls="users-manage-permissions" aria-selected="true">Permissions</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-analytics-tab" data-bs-toggle="pill" data-bs-target="#users-manage-analytics" type="button" role="tab" aria-controls="users-manage-analytics" aria-selected="true">Analytics</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-businesses-tab" data-bs-toggle="pill" data-bs-target="#users-manage-businesses" type="button" role="tab" aria-controls="users-manage-businesses" aria-selected="true">Businesses</button>
                                    </li>
                                </ul>

                                <button class="btn btn-primary btn-sm btn-ic-span-align" id="usersManageSaveButton">
                                    <i class='fa-regular fa-floppy-disk'></i>
                                    <span> Save</span>
                                </button>
                            </div>

                            <div class="tab-content w-100" id="users-manage-tabContent">
                                <!-- General -->
                                <div class="tab-pane fade w-100 show active" id="users-manage-general" role="tabpanel" aria-labelledby="users-manage-general-tab" tabindex="0">
                                    <div class="mb-3">
                                        <label for="usersManageFirstNameInput" class="form-label">First Name</label>
                                        <input type="text" class="form-control" id="usersManageFirstNameInput" placeholder="First Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="usersManageLastNameInput" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="usersManageLastNameInput" placeholder="Last Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="usersManageEmailInput" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="usersManageEmailInput" placeholder="Email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="usersManagePasswordInput" class="form-label">Password</label>
                                        <input type="text" class="form-control" id="usersManagePasswordInput" placeholder="Password">
                                    </div>
                                </div>
                                <!-- Actions -->
                                <div class="tab-pane fade w-100" id="users-manage-actions" role="tabpanel" aria-labelledby="users-manage-actions-tab" tabindex="0">
                                    <div class="mb-3">
                                        <label for="usersManageSendResetPasswordInput" class="form-label d-block">Send Reset Password</label>
                                        <button class="input-group-button btn btn-primary" id="usersManageSendResetPasswordButton">
                                            <i class='fa-regular fa-key'></i>
                                            <span> Send</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- Permissions -->
                                <div class="tab-pane fade w-100" id="users-manage-permissions" role="tabpanel" aria-labelledby="users-manage-permissions-tab" tabindex="0">
                                    <div class="mb-3">
                                        <label class="form-label d-block">Authentication</label>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="usersManageCanLoginInput">
                                            <label for="usersManageCanLoginInput" class="form-label d-block">Can Login</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label d-block">Business</label>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="usersManageCanViewBusinessInput">
                                            <label for="usersManageCanViewBusinessInput" class="form-label d-block">Can View</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="usersManageCanEditBusinessInput">
                                            <label for="usersManageCanEditBusinessInput" class="form-label d-block">Can Edit</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="usersManageCanDeleteBusinessInput">
                                            <label for="usersManageCanDeleteBusinessInput" class="form-label d-block">Can Delete</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="usersManageCanAddBusinessInput">
                                            <label for="usersManageCanAddBusinessInput" class="form-label d-block">Can Add</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Analytics -->
                                <div class="tab-pane fade w-100" id="users-manage-analytics" role="tabpanel" aria-labelledby="users-manage-analytics-tab" tabindex="0">
                                    analytics
                                </div>
                                <!-- Businesses -->
                                <div class="tab-pane fade w-100" id="users-manage-businesses" role="tabpanel" aria-labelledby="users-manage-businesses-tab" tabindex="0">
                                    businesses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bussiness Container -->
        <div class="main-container fade w-100 d-none" id="business-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-briefcase'></i> <span>Businesses</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-- Phone Numbers Container -->
        <div class="main-container fade w-100 d-none" id="phone-numbers-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-gear nav_icon'></i> <span>Settings</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-- Billing Container -->
        <div class="main-container fade w-100 d-none" id="billing-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-credit-card nav_icon'></i> <span>Billing</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-- Settings Container -->
        <div class="main-container fade w-100 d-none" id="settings-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-gear nav_icon'></i> <span>Settings</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>
    </div>

    <!-- libs -->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/libs/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom Scripts -->
    <script src="~/js/script.js"></script>

    <!-- Users Tab -->
    <script>
        var UsersPage = 0;
        var MaxUsersPerPage = 30;

        const usersListTable = $("#usersListTable");
        const usersListTableTab = $("#usersListTableTab");
        const usersManageTab = $("#usersManageTab");

        function FetchUsersFromAPI(successCallback) {
            $.ajax({
                url: '/app/admin/users',
                type: 'POST',
                dataType: "json",
                data: {
                    page: UsersPage,
                    max: MaxUsersPerPage
                },
                success: (response) => {
                    if (!response.success)
                    {
                        alert(response.message);
                        return;
                    }

                    successCallback(response.data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        function CreateUsersListTableElement(userData) {
            let element = $(`<tr>
                <td>${userData.email}</td>
                <td>${userData.firstName} ${userData.lastName}</td>
                <td>${userData.businesses.length}</td>
                <td>
                    <button class="btn btn-info btn-sm">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-danger btn-sm">
                        <i class="fa-regular fa-trash"></i>
                    </button>
                </td>
            </tr>`);

            return element;
        }

        $(document).ready(() => {
            // Init

            FetchUsersFromAPI((users) => {
                users.forEach((userData) => {
                    usersListTable.append(CreateUsersListTableElement(userData));
                });
            });

        });
    </script>

    <!-- Businesses Tab -->
    <script>
        var BussinessPage = 0;
        var MaxBussinessPerPage = 30;

        function FetchBusinessesFromAPI(successCallback) {
            $.ajax({
                url: '/app/admin/businesses',
                type: 'POST',
                dataType: "json",
                data: {
                    page: BussinessPage,
                    max: MaxBussinessPerPage
                },
                success: (response) => {
                    if (!response.success)
                    {
                        alert(response.message);
                        return;
                    }

                    successCallback(response.data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        $(document).ready(() => {
            // Init

            FetchBusinessesFromAPI((businesses) => {
                console.log(businesses);

                businesses.forEach((businessData) => {
                    console.log(businessData);
                });
            });
        });
    </script>
</body>

</html>