<html data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard | Iqra AI</title>

    <link href="~/libs/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/libs/boxicons-2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/libs/fontawesome-pro-6.5.1-web/css/regular.min.css" rel="stylesheet">

    <link href="~/css/structure.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico">

    <style>

    </style>

    <style id="dynamicCSS"></style>
</head>

<body id="body-pd" class="body-pd">
    <header class="header header-body-pd" id="header">
        <div class="header_toggle"> <i class='fa-regular fa-bars fa-bars' id="header-toggle"></i> </div>
    </header>

    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div class="upper-navigation">
                <a href="/" class="nav_logo">
                    <img class="nav_logo-icon" src="~/img/logo/logo-colored-light.png">
                </a>
                <div class="nav_list">
                    <a href="#" class="nav_link active" for="users-tab">
                        <i class='fa-regular fa-user nav_icon'></i>
                        <span class="nav_name">Users</span>
                    </a>
                    <a href="#" class="nav_link" for="business-tab">
                        <i class='fa-regular fa-briefcase nav_icon'></i>
                        <span class="nav_name">Businesses</span>
                    </a>
                    <a href="#" class="nav_link" for="phone-numbers-tab">
                        <i class='fa-regular fa-hashtag nav_icon'></i>
                        <span class="nav_name">Numbers</span>
                    </a>
                    <a href="#" class="nav_link" for="billing-tab">
                        <i class='fa-regular fa-credit-card nav_icon'></i>
                        <span class="nav_name">Billing</span>
                    </a>
                    <a href="#" class="nav_link mb-0" for="settings-tab">
                        <i class='fa-regular fa-gear nav_icon'></i>
                        <span class="nav_name">Settings</span>
                    </a>
                </div>
            </div>
            <div class="bottom-navigation">
                <a href="/logout" class="nav_link mt-0">
                    <i class='fa-regular fa-right-from-bracket nav_icon'></i>
                    <span class="nav_name">Log out</span>
                </a>
            </div>

        </nav>
    </div>

    <div class="w-100 main-container-wrapper" id="tabs-list">
        <!-- Users Container -->
        <div class="main-container fade show w-100" id="users-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-user'></i> <span>Users</span></h3>
            <div class="inner-container">
                <!-- Manager Inner Tabs -->
                <div class="mb-3">
                    <ul class="nav w-100 fade show" id="users-inner-tab" role="tablist">
                        <li class="nav-item me-2" role="presentation">
                            <button class="nav-link disabled" id="users-analytics-tab" data-bs-toggle="pill" data-bs-target="#users-analytics" type="button" role="tab" aria-controls="users-analytics" aria-selected="true">Analytics</button>
                        </li>
                        <li class="nav-item me-2" role="presentation">
                            <button class="nav-link active" id="users-list-tab" data-bs-toggle="pill" data-bs-target="#users-list" type="button" role="tab" aria-controls="users-list" aria-selected="true">List</button>
                        </li>
                    </ul>
                    <nav class="w-100 fade d-none" aria-label="breadcrumb" id="users-manage-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="#" id="switchBackToUsersListTabFromManageTab">Users</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><span id="currentManageUserName">User</span></li>
                        </ol>
                    </nav>
                </div>

                <div class="tab-content w-100" id="users-inner-tabContent">
                    <!-- Analytics -->
                    <div class="tab-pane fade w-100" id="users-analytics" role="tabpanel" aria-labelledby="users-analytics-tab" tabindex="0">
                        analytics
                    </div>

                    <!-- List -->
                    <div class="tab-pane fade w-100 show active" id="users-list" role="tabpanel" aria-labelledby="users-list-tab" tabindex="0">
                        <!-- Users List Table Tab -->
                        <div class="fade w-100 show" id="usersListTableTab">
                            <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                <div style="min-width: 200px" class="me-4">
                                    <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewUserButton">
                                        <span>+ Add New User</span>
                                    </button>
                                </div>
                                <div class="input-group w-100">
                                    <input type="text" class="form-control" placeholder="User Name or Email" aria-label="User Name or Email" aria-describedby="searchUserButton">
                                    <button class="input-group-button btn btn-primary" id="searchAgentScriptButton">
                                        <i class='fa-regular fa-magnifying-glass'></i>
                                    </button>
                                </div>
                            </div>
                            <table id="usersListTable" class="table w-100">
                                <thead>
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Businesses</th>
                                        <th scope="col">Numbers</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Dynamically Generated -->
                                </tbody>
                            </table>
                        </div>
                        <!-- Users Manage Tab -->
                        <div class="fade w-100 d-none" id="usersManageTab">
                            <div class="mb-3 d-flex flex-row align-items-center justify-content-between">
                                <ul class="nav" id="users-manage-tab" role="tablist">
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link active" id="users-manage-general-tab" data-bs-toggle="pill" data-bs-target="#users-manage-general" type="button" role="tab" aria-controls="users-manage-general" aria-selected="true">General</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-actions-tab" data-bs-toggle="pill" data-bs-target="#users-manage-actions" type="button" role="tab" aria-controls="users-manage-actions" aria-selected="true">Actions</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-permissions-tab" data-bs-toggle="pill" data-bs-target="#users-manage-permissions" type="button" role="tab" aria-controls="users-manage-permissions" aria-selected="true">Permissions</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-businesses-tab" data-bs-toggle="pill" data-bs-target="#users-manage-businesses" type="button" role="tab" aria-controls="users-manage-businesses" aria-selected="true">Businesses</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-numbers-tab" data-bs-toggle="pill" data-bs-target="#users-manage-numbers" type="button" role="tab" aria-controls="users-manage-numbers" aria-selected="true">Numbers</button>
                                    </li>
                                    <li class="nav-item me-2" role="presentation">
                                        <button class="nav-link" id="users-manage-analytics-tab" data-bs-toggle="pill" data-bs-target="#users-manage-analytics" type="button" role="tab" aria-controls="users-manage-analytics" aria-selected="true">Analytics</button>
                                    </li>
                                </ul>

                                <button class="btn btn-primary btn-sm btn-ic-span-align" id="usersManageSaveButton">
                                    <i class='fa-regular fa-floppy-disk'></i>
                                    <span> Save</span>
                                </button>
                            </div>

                            <div class="tab-content w-100" id="users-manage-tabContent">
                                <!-- General -->
                                <div class="tab-pane fade w-100 show active" id="users-manage-general" role="tabpanel" aria-labelledby="users-manage-general-tab" tabindex="0">
                                    <div class="mb-3">
                                        <label for="usersManageFirstNameInput" class="form-label">First Name</label>
                                        <input type="text" class="form-control" id="usersManageFirstNameInput" placeholder="First Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="usersManageLastNameInput" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="usersManageLastNameInput" placeholder="Last Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="usersManageEmailInput" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="usersManageEmailInput" placeholder="Email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="usersManagePasswordInput" class="form-label">Password</label>
                                        <input type="text" class="form-control" id="usersManagePasswordInput" placeholder="Password">
                                    </div>
                                </div>
                                <!-- Actions -->
                                <div class="tab-pane fade w-100" id="users-manage-actions" role="tabpanel" aria-labelledby="users-manage-actions-tab" tabindex="0">
                                    <div class="mb-3">
                                        <label for="usersManageSendResetPasswordInput" class="form-label d-block">Send Reset Password</label>
                                        <button class="input-group-button btn btn-primary" id="usersManageSendResetPasswordButton">
                                            <i class='fa-regular fa-key'></i>
                                            <span> Send</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- Permissions -->
                                <div class="tab-pane fade w-100" id="users-manage-permissions" role="tabpanel" aria-labelledby="users-manage-permissions-tab" tabindex="0">
                                    <div class="mb-3">
                                        <label class="form-label d-block">Authentication</label>

                                        <div class="">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="usersManageDisableLoginInput" check-type="permission-with-reason">
                                                <label for="usersManageDisableLoginInput" class="form-label d-block">Login Disabled</label>
                                            </div>
                                            <input type="text" class="form-control d-none" id="usersManageLoginDisabledReasonInput" placeholder="Login Disabled Reason">
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label d-block">Business</label>

                                        <div class="mb-2">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="usersManageDisableCompleteBusinessInput" check-type="permission-with-reason">
                                                <label for="usersManageDisableCompleteBusinessInput" class="form-label d-block">Disable Complete (Viewing Also)</label>
                                            </div>
                                            <input type="text" class="form-control d-none" id="usersManageDisableCompleteBusinessReasonInput" placeholder="Disable Complete Reason">
                                        </div>

                                        <div class="mb-2">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="usersManageDisableEditBusinessInput" check-type="permission-with-reason">
                                                <label for="usersManageDisableEditBusinessInput" class="form-label d-block">Disable Edit</label>
                                            </div>
                                            <input type="text" class="form-control d-none" id="usersManageDisableEditBusinessReasonInput" placeholder="Disable Edit Reason">
                                        </div>
                                        
                                        <div class="mb-2">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="usersManageDisableDeleteBusinessInput" check-type="permission-with-reason">
                                                <label for="usersManageDisableDeleteBusinessInput" class="form-label d-block">Disable Delete</label>
                                            </div>
                                            <input type="text" class="form-control d-none" id="usersManageDisableDeleteBusinessReasonInput" placeholder="Disable Delete Reason">
                                        </div>
                                        
                                        <div class="mb-2">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="usersManageDisableAddBusinessInput" check-type="permission-with-reason">
                                                <label for="usersManageDisableAddBusinessInput" class="form-label d-block">Disable Add</label>
                                            </div>
                                            <input type="text" class="form-control d-none" id="usersManageDisableAddBusinessReasonInput" placeholder="Disable Add Reason">
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Businesses -->
                                <div class="tab-pane fade w-100" id="users-manage-businesses" role="tabpanel" aria-labelledby="users-manage-businesses-tab" tabindex="0">
                                    <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                        <div style="min-width: 200px" class="me-4">
                                            <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewUserBusinessButton">
                                                <span>+ Add Business</span>
                                            </button>
                                        </div>
                                        <div class="input-group w-100">
                                            <input type="text" class="form-control" placeholder="Business name or id" aria-label="Business name or id" aria-describedby="searchUserBusinessButton">
                                            <button class="input-group-button btn btn-primary" id="searchUserBusinessButton">
                                                <i class='fa-regular fa-magnifying-glass'></i>
                                            </button>
                                        </div>
                                    </div>
                                    <table id="userBusinessesListTable" class="table w-100">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Numbers</th>
                                                <th scope="col">Users</th>
                                                <th scope="col">Region</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Dynamically Generated -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Numbers -->
                                <div class="tab-pane fade w-100" id="users-manage-numbers" role="tabpanel" aria-labelledby="users-manage-numbers-tab" tabindex="0">
                                    <div class="mb-4 d-flex flex-row align-items-center justify-content-between">
                                        <div style="min-width: 200px" class="me-4">
                                            <button class="w-100 mb-0 text-decoration-none fw-bold btn btn-primary" id="addNewUserNumberButton">
                                                <span>+ Add Number</span>
                                            </button>
                                        </div>
                                        <div class="input-group w-100">
                                            <input type="text" class="form-control" placeholder="Number or id" aria-label="Number or id" aria-describedby="searchUserNumberButton">
                                            <button class="input-group-button btn btn-primary" id="searchUserNumberButton">
                                                <i class='fa-regular fa-magnifying-glass'></i>
                                            </button>
                                        </div>
                                    </div>
                                    <table id="userNumbersListTable" class="table w-100">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Country</th>
                                                <th scope="col">Number</th>
                                                <th scope="col">Assigned</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Dynamically Generated -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Analytics -->
                                <div class="tab-pane fade w-100" id="users-manage-analytics" role="tabpanel" aria-labelledby="users-manage-analytics-tab" tabindex="0">
                                    analytics
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bussiness Container -->
        <div class="main-container fade w-100 d-none" id="business-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-briefcase'></i> <span>Businesses</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-- Phone Numbers Container -->
        <div class="main-container fade w-100 d-none" id="phone-numbers-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-gear nav_icon'></i> <span>Settings</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-- Billing Container -->
        <div class="main-container fade w-100 d-none" id="billing-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-credit-card nav_icon'></i> <span>Billing</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>

        <!-- Settings Container -->
        <div class="main-container fade w-100 d-none" id="settings-tab">
            <h3 class="fw-bold tab-title"><i class='fa-regular fa-gear nav_icon'></i> <span>Settings</span></h3>
            <div class="inner-container">
                <h6>Ah! This page is currently under development.</h6>
            </div>
        </div>
    </div>

    <!-- libs -->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/libs/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom Scripts -->
    <script src="~/js/script.js"></script>

    <!-- Users Tab -->
    <script>
        var CurrentUsersTableList = [];

        var CurrentManageUserBusinesses = [];
        var CurrentManageUserNumbers = [];

        var UsersPage = 0;
        var MaxUsersPerPage = 30;

        var IsEditUserAllowed = false;

        const usersListTable = $("#usersListTable");

        const usersListTableTab = $("#usersListTableTab");
        const usersManageTab = $("#usersManageTab");

        const usersInnerTab = $("#users-inner-tab");
        const usersManageBreadcrumb = $("#users-manage-breadcrumb");

        const switchBackToUsersListTabFromManageTab = $("#switchBackToUsersListTabFromManageTab");
        const currentManageUserName = $("#currentManageUserName");

        function FetchUsersFromAPI(successCallback) {
            $.ajax({
                url: '/app/admin/users',
                type: 'POST',
                dataType: "json",
                data: {
                    page: UsersPage,
                    max: MaxUsersPerPage
                },
                success: (response) => {
                    if (!response.success)
                    {
                        alert(response.message);
                        return;
                    }

                    successCallback(response.data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        function FetchUserBusinessesFromAPI(userEmail, successCallback)
        {
            $.ajax({
                url: '/app/admin/user/businesses',
                type: 'POST',
                dataType: "json",
                data: {
                    email: userEmail
                },
                success: (response) => {
                    if (!response.success)
                    {
                        alert(response.message);
                        return;
                    }

                    successCallback(response.data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        function FetchUserNumbersFromAPI(userEmail, successCallback) {
            $.ajax({
                url: '/app/admin/user/numbers',
                type: 'POST',
                dataType: "json",
                data: {
                    email: userEmail
                },
                success: (response) => {
                    if (!response.success) {
                        alert(response.message);
                        return;
                    }

                    successCallback(response.data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        function CreateUsersListTableElement(userData) {
            let element = $(`<tr>
                <td>${userData.email}</td>
                <td>${userData.firstName} ${userData.lastName}</td>
                <td>${userData.businesses.length}</td>
                <td>${userData.numbers.length}</td>
                <td>
                    <button class="btn btn-info btn-sm" user-email="${userData.email}" button-type="edit-user">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-danger btn-sm">
                        <i class="fa-regular fa-trash"></i>
                    </button>
                </td>
            </tr>`);

            return element;
        }

        function CreateUserManageBusinessesTableElement(businessData)
        {
            let element = $(`<tr>
                <td>${businessData.id}</td>
                <td>${businessData.name}</td>
                <td>${businessData.numbers.length}</td>
                <td>${businessData.users.length}</td>
                <td>${businessData.region}</td>
                <td>
                    <button class="btn btn-info btn-sm" business-id="${businessData.id}" button-type="edit-business">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-danger btn-sm">
                        <i class="fa-regular fa-trash"></i>
                    </button>
                </td>
            </tr>`);
        }

        function CreateUserManageNumbersTableElement(numberData)
        {
            let element = $(`<tr>
                <td>${numberData.id}</td>
                <td>${numberData.country}</td>
                <td>${numberData.number}</td>
                <td>${numberData.assigned}</td>
                <td>
                    <button class="btn btn-info btn-sm" number-email="${numberData.id}" button-type="edit-number">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-danger btn-sm">
                        <i class="fa-regular fa-trash"></i>
                    </button>
                </td>
            </tr>`);
        }

        function ResetAndEmptyManageTabData()
        {
            usersManageTab.find("input[type=text]").val("");
            usersManageTab.find("input[type=checkbox]").prop("checked", false);
            usersManageTab.find("table tbody").empty();
        }

        function FillUserManageTab(userData, userBusinessesData, userNumbersData)
        {
            ResetAndEmptyManageTabData();

            // General

            usersManageTab.find("#usersManageFirstNameInput").val(userData.firstName);
            usersManageTab.find("#usersManageLastNameInput").val(userData.lastName);

            usersManageTab.find("#usersManageEmailInput").val(userData.email);

            // Permissions

            if (userData.permission.loginDisabledAt != null) {
                usersManageTab.find("#usersManageDisableLoginInput").prop("checked", true).change();

                if (userData.permission.loginDisabledReason != null)
                {     
                    usersManageTab.find("#usersManageLoginDisabledReasonInput").val(userData.permission.loginDisabledReason);
                }
            }

            if (userData.permission.business.disableBusinessesAt != null) {
                usersManageTab.find("#usersManageDisableCompleteBusinessInput").prop("checked", true).change();


                if (userData.permission.business.disableBusinessesReason != null)
                {
                    usersManageTab.find("#usersManageDisableCompleteBusinessReasonInput").val(userData.permission.business.disableBusinessesReason);
                }
            }
            
            if (userData.permission.business.editBusinessDisabledAt != null) {
                usersManageTab.find("#usersManageDisableDeleteBusinessInput").prop("checked", true).change();

                if (userData.permission.business.editBusinessDisabledReason != null)
                {
                    usersManageTab.find("#usersManageDisableEditBusinessReasonInput").val(userData.permission.business.editBusinessDisabledReason);
                }
            }
            
            if (userData.permission.business.deleteBusinessDisableAt != null) {
                usersManageTab.find("#usersManageDisableDeleteInput").prop("checked", true).change();

                if (userData.permission.business.deleteBusinessDisabledReason != null)
                {         
                    usersManageTab.find("#usersManageDisableDeleteReasonInput").val(userData.permission.business.deleteBusinessDisabledReason);
                }
            }
            
            if (userData.permission.business.addBusinessDisabledAt != null) {
                usersManageTab.find("#usersManageDisableAddBusinessInput").prop("checked", true).change();

                if (userData.permission.business.addBusinessDisabledReason != null)
                {   
                    usersManageTab.find("#usersManageDisableAddBusinessReasonInput").val(userData.permission.business.addBusinessDisabledReason);
                }
            }
        
            // Businesses

            if (userBusinessesData.length > 0)
            {
                userBusinessesData.forEach((businessData) => {
                    usersManageTab.find("#userBusinessesListTable tbody").append(CreateUserManageBusinessesTableElement(businessData));
                });
            }
            else
            {
                usersManageTab.find("#userBusinessesListTable tbody").append('<tr tr-type="none-notice"><td colspan="6">No businesses</td></tr>');
            }

            // Numbers

            if (userNumbersData.length > 0)
            {
                userNumbersData.forEach((numberData) => {
                    usersManageTab.find("#userNumbersListTable tbody").append(CreateUserManageNumbersTableElement(numberData));
                });
            }
            else
            {
                usersManageTab.find("#userNumbersListTable tbody").append('<tr tr-type="none-notice"><td colspan="5">No numbers</td></tr>');
            }
        }

        $(document).ready(() => {
            $(document).on("click", "#usersListTable tr td button[button-type=edit-user]", (event) => {
                event.preventDefault();
                event.stopPropagation();

                if (!IsEditUserAllowed)
                {
                    console.log("Already editing a user!");
                    return;
                }

                IsEditUserAllowed = false;

                let userEmail = $(event.currentTarget).attr("user-email");
                usersManageTab.attr("user-email", userEmail);

                let currentUserData = CurrentUsersTableList.find((userData) => userData.email == userEmail);
                if (!currentUserData)
                {
                    alert("Could not find user data for: " + user);

                    IsEditUserAllowed = true;
                    return;
                }

                FetchUserBusinessesFromAPI(userEmail, (userBusinessesData) => {
                    CurrentManageUserBusinesses = userBusinessesData;
                });

                FetchUserNumbersFromAPI(userEmail, (userNumbersData) => {
                    CurrentManageUserNumbers = userNumbersData;
                });

                FillUserManageTab(currentUserData, CurrentManageUserBusinesses, CurrentManageUserNumbers);
                currentManageUserName.text(userEmail);
                
                usersInnerTab.removeClass("show");
                usersListTableTab.removeClass("show");
                setTimeout(() => {
                    usersInnerTab.addClass("d-none");
                    usersListTableTab.addClass("d-none");

                    usersManageBreadcrumb.removeClass("d-none");
                    usersManageTab.removeClass("d-none");

                    setTimeout(() => {
                        usersManageBreadcrumb.addClass("show");
                        usersManageTab.addClass("show");

                        IsEditUserAllowed = true;
                        return;
                    }, 10);
                }, 300);
            });

            switchBackToUsersListTabFromManageTab.on("click", (event) => {
                event.preventDefault();

                usersManageBreadcrumb.removeClass("show");
                usersManageTab.removeClass("show");
                setTimeout(() => {
                    usersManageBreadcrumb.addClass("d-none");
                    usersManageTab.addClass("d-none");

                    usersInnerTab.removeClass("d-none");
                    usersListTableTab.removeClass("d-none");

                    setTimeout(() => {
                        usersInnerTab.addClass("show");
                        usersListTableTab.addClass("show");
                    }, 10);
                }, 300);
            });

            $("#usersManageTab input[check-type=permission-with-reason]").on("change", (event) => { 
                event.stopPropagation();

                let current = $(event.currentTarget);
                let reasonInput = current.parent().parent().find("input[type=text]");

                if (current.prop("checked"))
                {
                    reasonInput.removeClass("d-none");
                }
                else
                {
                    reasonInput.addClass("d-none");
                }
            });

            // Init

            FetchUsersFromAPI((users) => {
                CurrentUsersTableList = users;

                users.forEach((userData) => {
                    console.log(userData);
                    usersListTable.append(CreateUsersListTableElement(userData));
                });

                IsEditUserAllowed = true;
            });

        });
    </script>

    <!-- Businesses Tab -->
    <script>
        var BussinessPage = 0;
        var MaxBussinessPerPage = 30;

        function FetchBusinessesFromAPI(successCallback) {
            $.ajax({
                url: '/app/admin/businesses',
                type: 'POST',
                dataType: "json",
                data: {
                    page: BussinessPage,
                    max: MaxBussinessPerPage
                },
                success: (response) => {
                    if (!response.success)
                    {
                        alert(response.message);
                        return;
                    }

                    successCallback(response.data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        $(document).ready(() => {
            // Init

            FetchBusinessesFromAPI((businesses) => {
                console.log(businesses);

                businesses.forEach((businessData) => {
                    console.log(businessData);
                });
            });
        });
    </script>
</body>

</html>